Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

.circleci/config.yml:

# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            (cmd|internal|server|pkg|test|conf)/.*  trigger-app true
            main.go|go.mod|go.sum  trigger-app true
            (ui)/.*  trigger-ui  true
          base-revision: master  # git branch name
          config-path: .circleci/conditional_config.yml
          filters:
            branches:
              ignore:
                - gh-pages

fix(ui/sidebar): boolean type setting option save issue (#431)
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
Due: trigger-ui

fix(ui/sidebar): boolean type setting option save issue (#431) (#444)
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
Due: trigger-ui

ip_region backend api
  conf/artalk.example.zh-CN.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/core/core.go
  internal/entity/comment_cooked.go
  internal/ip_region/ip_region.go
  server/handler/comment_get.go
Due: trigger-app

frontend ui support
  ui/packages/artalk/src/comment/renders/header.ts
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/types/artalk-data.d.ts
Due: trigger-ui

fix backend
  internal/ip_region/ip_region.go
Due: trigger-app

handle mutiple ip case
  internal/ip_region/ip_region.go
Due: trigger-app

add docs
  docs/.vitepress/config.ts
  docs/guide/frontend/ip-region.md
Due: none

feat: display IP region of comment (#418) (#447)
  conf/artalk.example.zh-CN.yml
  docs/.vitepress/config.ts
  docs/guide/frontend/ip-region.md
  go.mod
  go.sum
  internal/config/config.go
  internal/core/core.go
  internal/entity/comment_cooked.go
  internal/ip_region/ip_region.go
  server/handler/comment_get.go
  ui/packages/artalk/src/comment/renders/header.ts
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/types/artalk-data.d.ts
Due: trigger-app, trigger-ui

Update import-blog.md
  docs/guide/frontend/import-blog.md
Due: none

chore(docs): refine import-blog.md hugo case (#413)
  docs/guide/frontend/import-blog.md
Due: none

fix(ui/conf): avoid some conf overrides frontend from the backend
  ui/packages/artalk/src/api/system.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/list/list-lite.ts
Due: trigger-ui

fix(ui/conf): avoid some conf overrides frontend from the backend (#449)
  ui/packages/artalk/src/api/system.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/list/list-lite.ts
Due: trigger-ui

feat(ui/sidebar): add dark mode support
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/components/Header.vue
  ui/packages/artalk-sidebar/src/components/LogTerminal.vue
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/components/SiteSwitcher.vue
  ui/packages/artalk-sidebar/src/components/Tab.vue
  ui/packages/artalk-sidebar/src/components/UserEditor.vue
  ui/packages/artalk-sidebar/src/pages/login.vue
  ui/packages/artalk-sidebar/src/pages/pages.vue
  ui/packages/artalk-sidebar/src/pages/settings.vue
  ui/packages/artalk-sidebar/src/style.scss
  ui/packages/artalk/src/style/comment.scss
Due: trigger-ui

feat(ui/sidebar): add dark mode support (#450)
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/components/Header.vue
  ui/packages/artalk-sidebar/src/components/LogTerminal.vue
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/components/SiteSwitcher.vue
  ui/packages/artalk-sidebar/src/components/Tab.vue
  ui/packages/artalk-sidebar/src/components/UserEditor.vue
  ui/packages/artalk-sidebar/src/pages/login.vue
  ui/packages/artalk-sidebar/src/pages/pages.vue
  ui/packages/artalk-sidebar/src/pages/settings.vue
  ui/packages/artalk-sidebar/src/style.scss
  ui/packages/artalk/src/style/comment.scss
Due: trigger-ui

chore(deps): upgrade deps
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  ui/package.json
  ui/packages/artalk-sidebar/auto-imports.d.ts
  ui/packages/artalk-sidebar/components.d.ts
  ui/packages/artalk-sidebar/package.json
  ui/pnpm-lock.yaml
Due: trigger-app, trigger-ui

feat(ui/height_limit): support scrollable height limit area
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/frontend/config.md
  ui/packages/artalk/src/comment/height-limit.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/defaults.ts
  ui/packages/artalk/src/style/_color.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/types/artalk-config.d.ts
Due: trigger-app, trigger-ui

feat(ui/height_limit): support scrollable height limit area (#451)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/frontend/config.md
  ui/packages/artalk/src/comment/height-limit.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/defaults.ts
  ui/packages/artalk/src/style/_color.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/types/artalk-config.d.ts
Due: trigger-app, trigger-ui

chore(ip_region): move config dep out of ip_region pkg
  internal/core/core.go
  internal/ip_region/ip_region.go
  server/handler/comment_get.go
Due: trigger-app

fix(ui/sidebar): array type of preference initial data issue
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
Due: trigger-ui

chore(docs): upgrade and fix css
  docs/.vitepress/theme/style.scss
  docs/guide/frontend/config.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

chore(docs): modify artalk script link
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Artalk.vue
Due: none

perf(ui/sidebar): improve sidebar i18n
  conf/artalk.example.zh-CN.yml
  docs/guide/frontend/config.md
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/components/Tab.vue
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk-sidebar/src/pages/settings.vue
  ui/packages/artalk-sidebar/src/pages/transfer.vue
  ui/packages/artalk-sidebar/src/pages/users.vue
  ui/packages/artalk/types/artalk-config.d.ts
Due: trigger-app, trigger-ui

perf(ui/list): remove useless function call
  ui/packages/artalk/src/list/list.ts
Due: trigger-ui

fix(ui/editor): disable img upload cannot hide its btn
  ui/packages/artalk/src/editor/plugs/upload-plug.ts
Due: trigger-ui

refactor: remove version two-way check
  internal/config/var.go
  server/common/conf.go
  ui/packages/artalk/package.json
  ui/packages/artalk/src/list/list-lite.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/types/artalk-data.d.ts
Due: trigger-app, trigger-ui

refactor: remove version two-way check (#452)
  internal/config/var.go
  server/common/conf.go
  ui/packages/artalk/package.json
  ui/packages/artalk/src/list/list-lite.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/types/artalk-data.d.ts
Due: trigger-app, trigger-ui

feat(captcha): support turnstile captcha by cloudflare
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/captcha/pages/turnstile.html
  internal/captcha/turnstile.go
  internal/config/config.go
  internal/config/init.go
  server/handler/captcha.go
  server/middleware/limit.go
Due: trigger-app

docs: add turnstile captcha
  README.md
  docs/guide/backend/captcha.md
  docs/guide/backend/fe-control.md
  docs/images/captcha/cf-turnstile-1.png
  docs/images/captcha/cf-turnstile-2.png
  docs/images/sidebar/fe-setting.png
Due: none

feat(captcha): support turnstile captcha by cloudflare (#453)
  README.md
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/captcha.md
  docs/guide/backend/fe-control.md
  docs/images/captcha/cf-turnstile-1.png
  docs/images/captcha/cf-turnstile-2.png
  docs/images/sidebar/fe-setting.png
  internal/captcha/pages/turnstile.html
  internal/captcha/turnstile.go
  internal/config/config.go
  internal/config/init.go
  server/handler/captcha.go
  server/middleware/limit.go
Due: trigger-app

fix(site_origin): issue of same-origin request under the proxy
  server/middleware/site_origin.go
Due: trigger-app

fix(site_origin): issue of same-origin request under the proxy (#454)
  server/middleware/site_origin.go
Due: trigger-app

feat: add graceful shutdown
  cmd/server.go
Due: trigger-app

fix: `timeAgo` function does not display the now
  ui/packages/artalk/src/lib/utils.ts
Due: trigger-ui

chore: modify comment hash handle
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-ui

perf(docker-build): cache by separating the downloading of deps
  Dockerfile
Due: none

fix: `timeAgo` appears negative number minutes ago
  ui/packages/artalk/src/lib/utils.ts
Due: trigger-ui

docs: add simplified README for artalk npm package
  ui/packages/artalk/README.md
Due: trigger-ui

fix: add `X-Forwarded-For` proxy header read
  cmd/server.go
Due: trigger-app

fix(comment_add): ip region search in comment add api
  server/handler/comment_add.go
Due: trigger-app
