Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

chore(ci): fixed tag version for git checkout branch
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-done.yml
  .github/workflows/build-tagging.yml
  .github/workflows/build-ui.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

docs: 新增sealos 一键部署
  README.en.md
  README.md
Due: none

fix: don't mutate Default in-place
  ui/artalk/src/config.ts
Due: trigger-ui

fix(ui/init): stack overflow when merging with config defaults (#717)
  ui/artalk/src/config.ts
Due: trigger-ui

fix(ui): mergeDeep causes some configurations to be overridden by the default configuration
  ui/artalk/src/artalk.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
Due: trigger-ui

fix: config always get override by defaults
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
Due: trigger-ui

refactor(ui/test): add vitest for unit testing
  .github/workflows/test-frontend.yml
  package.json
  pnpm-lock.yaml
  ui/artalk/package.json
  ui/artalk/vitest.config.ts
Due: trigger-ui

chore(build): use vite internal mergeConfig func
  ui/artalk/vite-lite.config.ts
  ui/artalk/vite.config.ts
Due: trigger-ui

chore(tsconfig): modify moduleResolution to `bundler`
  tsconfig.base.json
Due: none

fix: config always get override by defaults
  ui/artalk/src/config.ts
Due: trigger-ui

refactor(ui/conf): better handling of mutable config
  ui/artalk/src/artalk.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
  ui/artalk/src/lib/merge-deep.test.ts
  ui/artalk/src/lib/merge-deep.ts
  ui/artalk/src/lib/utils.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/tests/setup.ts
  ui/artalk/tests/ui-api.test.ts
  ui/artalk/types/config.ts
  ui/artalk/types/context.ts
  ui/artalk/types/event.ts
Due: trigger-ui

chore: fix path issue on win env
  ui/artalk/vitest.config.ts
Due: trigger-ui

fix: mergeDeep avoid prototype pollution
  ui/artalk/src/context.ts
  ui/artalk/src/lib/merge-deep.test.ts
  ui/artalk/src/lib/merge-deep.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

refactor(ui/conf): better handling of mutable config (#722)
  ui/artalk/src/artalk.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
  ui/artalk/src/lib/merge-deep.test.ts
  ui/artalk/src/lib/merge-deep.ts
  ui/artalk/src/lib/utils.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/tests/setup.ts
  ui/artalk/tests/ui-api.test.ts
  ui/artalk/types/config.ts
  ui/artalk/types/context.ts
  ui/artalk/types/event.ts
  ui/artalk/vitest.config.ts
Due: trigger-ui

docs: update ui api documentation
  docs/docs/develop/fe-api.md
  ui/artalk/src/context.ts
  ui/artalk/types/context.ts
Due: trigger-ui

perf(ui/build): better dts generation
  package.json
  pnpm-lock.yaml
  ui/artalk/package.json
  ui/artalk/scripts/build-i18n.ts
  ui/artalk/src/main.ts
  ui/artalk/src/types/config.ts
  ui/artalk/src/types/editor.ts
  ui/artalk/src/types/event.ts
  ui/artalk/tsconfig.json
  ui/artalk/vite-base.config.ts
  ui/artalk/vite-demo.config.ts
  ui/artalk/vite-lite.config.ts
  ui/artalk/vite.config.ts
Due: trigger-ui

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: fix env variable on windows
  package.json
  pnpm-lock.yaml
  ui/artalk/package.json
Due: trigger-ui

fix i18n types
  .github/workflows/test-frontend.yml
  ui/artalk/package.json
  ui/artalk/scripts/build-i18n.ts
  ui/artalk/src/i18n/en.ts
  ui/artalk/src/i18n/index.ts
  ui/artalk/src/main.ts
  ui/artalk/src/types/index.ts
Due: trigger-ui

chore: patch pacakge.json for i18n exports
  ui/artalk/package.json
  ui/artalk/scripts/build-i18n.ts
Due: trigger-ui

refactor(test/ui): add more ui api tests
  docs/docs/package.json
  pnpm-lock.yaml
  ui/artalk/src/config.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: fix docker build ci workflow
  .github/workflows/build.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
Due: none

feat(go): upgrade golang to v1.21.5 and some deps
  .circleci/conditional_config.yml
  .github/workflows/build-app.yml
  .github/workflows/docs-cn.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

chore(docs): fix broken links
  .github/workflows/build.yml
  docs/docs/develop/event.md
  docs/docs/develop/index.md
  docs/docs/develop/plugs.md
  docs/docs/guide/frontend/config.md
Due: none

chore(docs): update security.md
  docs/docs/guide/security.md
Due: none

fix: prevent propagation in editor
  ui/artalk/src/plugins/editor-kit.ts
Due: trigger-ui

update deploy on sealos
  README.md
Due: none

chore(ci): fix ui test trigger rules
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
Due: none

docs: update multi-sites manual
  docs/docs/guide/backend/multi-site.md
  docs/docs/guide/deploy.md
  docs/docs/guide/frontend/sidebar.md
Due: none

docs: update multi-sites manual (#747)
  docs/docs/guide/backend/multi-site.md
  docs/docs/guide/deploy.md
  docs/docs/guide/frontend/sidebar.md
Due: none

chore(typo): fix typo for `login` in zh
  README.md
  conf/artalk.example.zh-CN.yml
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  i18n/zh-CN.yml
  i18n/zh-TW.yml
  internal/config/config.go
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/i18n/messages.ts
Due: trigger-app, trigger-ui

refactor: remove forced site_origin check
  server/middleware/site_origin/site_origin.go
Due: trigger-app

refactor: update http client
  ui/artalk-sidebar/src/components/PageEditor.vue
  ui/artalk-sidebar/src/components/SiteEditor.vue
  ui/artalk-sidebar/src/components/UserEditor.vue
  ui/artalk/src/api/_base.ts
  ui/artalk/src/api/_request.ts
  ui/artalk/src/api/admin.ts
  ui/artalk/src/api/captcha.ts
  ui/artalk/src/api/comment.ts
  ui/artalk/src/api/page.ts
  ui/artalk/src/api/site.ts
  ui/artalk/src/api/system.ts
  ui/artalk/src/api/upload.ts
  ui/artalk/src/api/user.ts
  ui/artalk/src/comment/actions.ts
  ui/artalk/src/components/checker/captcha.ts
  ui/artalk/src/config.ts
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/tests/e2e/comment-add.spec.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

refactor: frontend api module
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  server/common/conf.go
  server/handler/admin_page_get.go
  server/handler/admin_site_get.go
  server/handler/admin_user_get.go
  server/handler/comment_get.go
  server/handler/mark_read.go
  server/handler/user_get.go
  ui/artalk-sidebar/src/components/PageEditor.vue
  ui/artalk-sidebar/src/pages/pages.vue
  ui/artalk-sidebar/src/pages/sites.vue
  ui/artalk-sidebar/src/stores/nav.ts
  ui/artalk/src/api/_base.ts
  ui/artalk/src/api/_request.ts
  ui/artalk/src/api/captcha.ts
  ui/artalk/src/api/comment.ts
  ui/artalk/src/api/index.ts
  ui/artalk/src/api/notify.ts
  ui/artalk/src/api/page.ts
  ui/artalk/src/api/site.ts
  ui/artalk/src/api/system.ts
  ui/artalk/src/api/upload.ts
  ui/artalk/src/api/user.ts
  ui/artalk/src/components/checker/admin.ts
  ui/artalk/src/components/checker/captcha-renders.ts
  ui/artalk/src/components/checker/captcha.ts
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/editor/header-user.ts
  ui/artalk/src/plugins/index.ts
  ui/artalk/src/plugins/list/count.ts
  ui/artalk/src/plugins/list/fetch.ts
  ui/artalk/src/plugins/list/unread.ts
  ui/artalk/src/plugins/notifies.ts
  ui/artalk/src/types/data.ts
  ui/artalk/vite.config.ts.timestamp-1704558881767-a016ed5b714ce.mjs
Due: trigger-app, trigger-ui

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
