Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

.circleci/config.yml:

# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            (cmd|internal|server|pkg|test|conf)/.*  trigger-app true
            main.go|go.mod|go.sum  trigger-app true
            (ui)/.*  trigger-ui  true
          base-revision: master  # git branch name
          config-path: .circleci/conditional_config.yml
          filters:
            branches:
              ignore:
                - gh-pages

Update extras.md
  docs/docs/guide/extras.md
Due: none

feat(ci/build): add nightly build workflow
  .github/workflows/build-nightly.yml
Due: none

chore(ci/nightly): improve nightly build workflow
  .circleci/config.yml
  .github/workflows/build-nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
  Makefile
  scripts/docker-build.sh
Due: none

chore(ci/nightly): build arm64 on M1 macOS runner
  .github/workflows/build-nightly.yml
Due: none

Create fr.yml
  i18n/fr.yml
Due: none

docs(i18n): add French translation (#797)
  i18n/fr.yml
Due: none

chore(docs): update case link (#793)
  docs/docs/guide/cases.md
  docs/docs/guide/extras.md
Due: none

fix(cmd/gen): ensure directory before saving in `gen` cmd (#612)
  internal/core/gen.go
Due: trigger-app

perf(db): optimize N+1 query in comment list
  docker-entrypoint.sh
  internal/dao/cook.go
  internal/dao/migrate.go
  internal/dao/query_find.go
  internal/dao/query_find_test.go
  internal/entity/comment.go
  scripts/benchmark.sh
  server/handler/comment_create.go
  server/handler/comment_list.go
  server/handler/comments_get/base.go
  server/handler/comments_get/utils_list.go
  server/handler/stat.go
Due: trigger-app

perf(db): optimize N+1 query in comment list (#799)
  docker-entrypoint.sh
  internal/dao/cook.go
  internal/dao/migrate.go
  internal/dao/query_find.go
  internal/dao/query_find_test.go
  internal/entity/comment.go
  scripts/benchmark.sh
  server/handler/comment_create.go
  server/handler/comment_list.go
  server/handler/comments_get/base.go
  server/handler/comments_get/utils_list.go
  server/handler/stat.go
Due: trigger-app

refactor(comments_get): reduce interface complexity by introducing LiteDB
  internal/dao/cook.go
  internal/dao/service.go
  internal/entity/comment.go
  internal/entity/page.go
  server/handler/comment_list.go
  server/handler/comments_get/base.go
  server/handler/comments_get/expose.go
  server/handler/comments_get/lite_db.go
  server/handler/comments_get/scope_page.go
  server/handler/comments_get/scope_site.go
  server/handler/comments_get/scope_user.go
  server/handler/comments_get/scoper.go
  server/handler/comments_get/utils_count.go
  server/handler/comments_get/utils_list.go
Due: trigger-app

test: add unit test
  server/handler/comments_get/base.go
  server/handler/comments_get/base_test.go
  server/handler/comments_get/scope_page_test.go
  server/handler/comments_get/scope_site_test.go
  server/handler/comments_get/scope_user_test.go
  test/fixtures/comments.yml
Due: trigger-app

fix(ui): Root element was accidentally removed during destroy
  ui/artalk/src/artalk.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

fix(ui/lifecycle): keep root element during destroy (#810)
  ui/artalk/src/artalk.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

add more unit test case
  server/handler/comments_get/base_test.go
Due: trigger-app

refactor(comments_get): reduce api complexity by introducing `LiteDB` (#800)
  internal/dao/cook.go
  internal/dao/service.go
  internal/entity/comment.go
  internal/entity/page.go
  server/handler/comment_list.go
  server/handler/comments_get/base.go
  server/handler/comments_get/base_test.go
  server/handler/comments_get/expose.go
  server/handler/comments_get/lite_db.go
  server/handler/comments_get/scope_page.go
  server/handler/comments_get/scope_page_test.go
  server/handler/comments_get/scope_site.go
  server/handler/comments_get/scope_site_test.go
  server/handler/comments_get/scope_user.go
  server/handler/comments_get/scope_user_test.go
  server/handler/comments_get/scoper.go
  server/handler/comments_get/utils_count.go
  server/handler/comments_get/utils_list.go
  test/fixtures/comments.yml
Due: trigger-app

feat(go): upgrade golang to v1.22.1 and some deps
  .circleci/conditional_config.yml
  .github/workflows/build-app.yml
  CONTRIBUTING.md
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

chore(ui/dev): bump node to v20.12.1
  .circleci/conditional_config.yml
  .github/workflows/build-nightly.yml
  .github/workflows/build-ui.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  .github/workflows/test-docs.yml
  CONTRIBUTING.md
  Dockerfile
  package.json
  scripts/build-frontend.sh
Due: none

chore(ui/deps): bump deps for ui
  docs/docs/package.json
  docs/landing/package.json
  docs/swagger/package.json
  package.json
  pnpm-lock.yaml
  ui/artalk-sidebar/package.json
  ui/artalk/package.json
  ui/artalk/src/artalk.ts
  ui/plugin-katex/package.json
Due: trigger-ui

chore(sidebar): fix build type issue when upgrade deps
  ui/artalk-sidebar/auto-imports.d.ts
  ui/artalk-sidebar/env.d.ts
  ui/artalk-sidebar/typed-router.d.ts
Due: trigger-ui

perf(conf/upgit): disallow custom executable path of `upgit` for security
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/img-upload.md
  docs/docs/guide/frontend/config.md
  docs/docs/guide/frontend/i18n.md
  server/handler/upload.go
Due: trigger-app

downgrade codecov to fix ci issue
  .circleci/conditional_config.yml
Due: none

perf(conf/upgit): disallow custom executable path of `upgit` for security (#817)
  .circleci/conditional_config.yml
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/img-upload.md
  docs/docs/guide/frontend/config.md
  docs/docs/guide/frontend/i18n.md
  server/handler/upload.go
Due: trigger-app

chore: update deps
  docs/landing/package.json
  pnpm-lock.yaml
  test/ssg-test/package.json
  test/vue-test/package.json
  ui/artalk-sidebar/package.json
Due: trigger-app, trigger-ui

feat(artalk): add shorter export names
  ui/artalk/package.json
Due: trigger-ui

chore: tweaks
  ui/artalk/package.json
Due: trigger-ui

fix: template
  internal/captcha/pages/geetest.html
  internal/captcha/pages/hcaptcha.html
  internal/captcha/pages/recaptcha.html
  internal/captcha/pages/turnstile.html
  internal/template/email_tpl/default.html
  public/index.html
Due: trigger-app

chore(ui/deps): update deps for ui (#820)
  docs/landing/package.json
  pnpm-lock.yaml
  test/ssg-test/package.json
  test/vue-test/package.json
  ui/artalk-sidebar/package.json
Due: trigger-app, trigger-ui

chore: mute attw
  .github/workflows/test-frontend.yml
Due: none

style: format config files
  .circleci/conditional_config.yml
  .circleci/config.yml
  .github/actions/comment/action.yml
  .github/chglog/config.yml
  .github/dependabot.yml
  .github/workflows/build-app.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  .goreleaser.yml
  .prettierignore
  .prettierrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.en.md
  README.md
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docker-compose.yml
  package.json
Due: trigger-app

perf(ui/pkg): add shorter export names (#821)
  .github/workflows/test-frontend.yml
  ui/artalk/package.json
Due: trigger-ui

chore: format config and template files (#822)
  .circleci/conditional_config.yml
  .circleci/config.yml
  .github/actions/comment/action.yml
  .github/chglog/config.yml
  .github/dependabot.yml
  .github/workflows/build-app.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  .goreleaser.yml
  .prettierignore
  .prettierrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.en.md
  README.md
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docker-compose.yml
  internal/captcha/pages/geetest.html
  internal/captcha/pages/hcaptcha.html
  internal/captcha/pages/recaptcha.html
  internal/captcha/pages/turnstile.html
  internal/template/email_tpl/default.html
  package.json
  public/index.html
Due: trigger-app

chore: tweaks
  .prettierignore
  docs/docs/.vitepress/theme/Layout.vue
Due: none

fix(i18n): fix fr locale and format
  .prettierignore
  i18n/en.yml
  i18n/fr.yml
  i18n/zh-CN.yml
  i18n/zh-TW.yml
Due: none

test: update test
  test/fixtures/comments.yml
  test/fixtures/pages.yml
  test/ssg-test/.vitepress/config.mts
  test/ssg-test/.vitepress/theme/Artalk.vue
  test/ssg-test/.vitepress/theme/Footer.vue
  test/ssg-test/.vitepress/theme/Layout.vue
  test/ssg-test/.vitepress/theme/index.ts
  test/ssg-test/.vitepress/theme/style.css
  test/ssg-test/api-examples.md
  test/ssg-test/index.md
  test/testdata/example_site_conf.yml
  test/testdata/model_test_conf.yml
  test/vue-test/README.md
  test/vue-test/index.html
  test/vue-test/src/components/Artalk.vue
  test/vue-test/src/router/index.ts
  test/vue-test/vite.config.ts
Due: trigger-app
