Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

refactor(ui/marked): loose coupling with `marked` func
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/renders/reply-to.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/lib/marked.ts
  ui/packages/artalk/src/plugins/editor/preview.ts
  ui/packages/artalk/src/plugins/index.ts
  ui/packages/artalk/src/plugins/markdown.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/artalk-config.d.ts
  ui/packages/artalk/types/context.d.ts
  ui/packages/plugin-katex/main.ts
Due: trigger-ui

refactor(ui/conf): loose coupling between config and list fetch
  server/common/conf.go
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk/src/api/system.ts
  ui/packages/artalk/src/data.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/index.ts
  ui/packages/artalk/src/plugins/list/error-dialog.ts
  ui/packages/artalk/src/plugins/list/fetch.ts
  ui/packages/artalk/src/plugins/list/goto.ts
  ui/packages/artalk/src/plugins/stat.ts
  ui/packages/artalk/src/service.ts
Due: trigger-app, trigger-ui

refactor(ui): separate standalone admin-only-elem checker
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/plugins/index.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.ts
  ui/packages/artalk/types/index.ts
  ui/packages/artalk/types/sidebar.ts
Due: trigger-ui

refactor(ui/api): loose coupling between `Api` and `Context`
  ui/packages/artalk/src/api/_base.ts
  ui/packages/artalk/src/api/_options.ts
  ui/packages/artalk/src/api/_request.ts
  ui/packages/artalk/src/api/admin.ts
  ui/packages/artalk/src/api/api-base.ts
  ui/packages/artalk/src/api/captcha.ts
  ui/packages/artalk/src/api/comment.ts
  ui/packages/artalk/src/api/index.ts
  ui/packages/artalk/src/api/page.ts
  ui/packages/artalk/src/api/site.ts
  ui/packages/artalk/src/api/system.ts
  ui/packages/artalk/src/api/upload.ts
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/lib/ui.ts
  ui/packages/artalk/src/plugins/stat.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.ts
  ui/packages/artalk/types/data.ts
  ui/packages/artalk/types/editor.ts
Due: trigger-ui

refactor(ui/stat): losing coupling of `CountWidget`
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/stat.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

chore(ui/list): let the service of list non-optional
  ui/packages/artalk/src/lib/dark-mode.ts
  ui/packages/artalk/src/list/page.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
  ui/packages/artalk/src/plugins/index.ts
  ui/packages/artalk/src/plugins/list/copyright.ts
  ui/packages/artalk/src/plugins/list/count.ts
  ui/packages/artalk/src/plugins/list/dropdown.ts
  ui/packages/artalk/src/plugins/list/error-dialog.ts
  ui/packages/artalk/src/plugins/list/goto-first.ts
  ui/packages/artalk/src/plugins/list/goto.ts
  ui/packages/artalk/src/plugins/list/loading.ts
  ui/packages/artalk/src/plugins/list/reach-bottom.ts
  ui/packages/artalk/src/plugins/list/sidebar-btn.ts
  ui/packages/artalk/src/plugins/list/time-ticking.ts
  ui/packages/artalk/src/plugins/list/unread-badge.ts
  ui/packages/artalk/src/plugins/list/unread.ts
  ui/packages/artalk/src/plugins/list/with-editor.ts
  ui/packages/artalk/src/plugins/version-check.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

chore(ui/lint): follow the `import/no-cycle` eslint rule
  ui/.eslintrc.js
  ui/packages/artalk/src/comment/actions.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/comment/renders/actions.ts
  ui/packages/artalk/src/comment/renders/avatar.ts
  ui/packages/artalk/src/comment/renders/content.ts
  ui/packages/artalk/src/comment/renders/header.ts
  ui/packages/artalk/src/comment/renders/index.ts
  ui/packages/artalk/src/comment/renders/pending.ts
  ui/packages/artalk/src/comment/renders/reply-at.ts
  ui/packages/artalk/src/comment/renders/reply-to.ts
  ui/packages/artalk/src/i18n/zh-CN.ts
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/captcha-renders.ts
  ui/packages/artalk/src/lib/checker/captcha.ts
  ui/packages/artalk/src/list/paginator/read-more.ts
  ui/packages/artalk/src/list/paginator/up-down.ts
  ui/packages/artalk/src/plugins/editor/_kit.ts
  ui/packages/artalk/src/plugins/editor/_plug.ts
  ui/packages/artalk/src/plugins/editor/_sample.ts
  ui/packages/artalk/src/plugins/editor/closable.ts
  ui/packages/artalk/src/plugins/editor/emoticons.ts
  ui/packages/artalk/src/plugins/editor/header-event.ts
  ui/packages/artalk/src/plugins/editor/header-link.ts
  ui/packages/artalk/src/plugins/editor/header-user.ts
  ui/packages/artalk/src/plugins/editor/index.ts
  ui/packages/artalk/src/plugins/editor/local-storage.ts
  ui/packages/artalk/src/plugins/editor/preview.ts
  ui/packages/artalk/src/plugins/editor/state-edit.ts
  ui/packages/artalk/src/plugins/editor/state-reply.ts
  ui/packages/artalk/src/plugins/editor/submit-add.ts
  ui/packages/artalk/src/plugins/editor/submit-btn.ts
  ui/packages/artalk/src/plugins/editor/submit.ts
  ui/packages/artalk/src/plugins/editor/textarea.ts
  ui/packages/artalk/src/plugins/editor/upload.ts
Due: trigger-ui

chore(ui): fix issues caused by refactoring
  ui/.eslintrc.js
  ui/packages/artalk/src/components/dialog.ts
  ui/packages/artalk/src/components/error-dialog.ts
  ui/packages/artalk/src/list/page.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/list/error-dialog.ts
  ui/packages/artalk/src/plugins/list/fetch.ts
  ui/packages/artalk/src/plugins/list/reach-bottom.ts
  ui/packages/artalk/src/plugins/list/sidebar-btn.ts
  ui/packages/artalk/types/data.ts
Due: trigger-ui

chore(ui/sidebar): fix sidebar dependant issues caused by refactoring
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/lib/event-manager.ts
  ui/packages/artalk/src/list/list.html
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/list/page.ts
  ui/packages/artalk/src/list/paginator/read-more.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/list/goto.ts
  ui/packages/artalk/types/config.ts
  ui/packages/plugin-katex/package.json
  ui/packages/plugin-lightbox/main.ts
  ui/packages/plugin-lightbox/package.json
Due: trigger-ui

feat(ui): support `scrollRelativeTo` config option
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/editor/state.ts
  ui/packages/artalk/src/lib/ui.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/src/plugins/list/goto-first.ts
  ui/packages/artalk/types/config.ts
Due: trigger-ui

chore(ui/deps): downgrade `eslint-import-resolver-typescript` to v2.7.0 to resolve lint issue on Win env
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

chore(ui/deps): downgrade `eslint-import-resolver-typescript`
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

refactor(ui): reduce coupling with `ContextApi`
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/renders/actions.ts
  ui/packages/artalk/src/components/action-btn.ts
  ui/packages/artalk/src/components/checker/admin.ts
  ui/packages/artalk/src/components/checker/captcha-renders.ts
  ui/packages/artalk/src/components/checker/captcha.ts
  ui/packages/artalk/src/components/checker/index.ts
  ui/packages/artalk/src/components/dark-mode.ts
  ui/packages/artalk/src/components/dialog.ts
  ui/packages/artalk/src/components/error-dialog.ts
  ui/packages/artalk/src/components/pagination.ts
  ui/packages/artalk/src/components/read-more-btn.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/layer/layer.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/lib/component.ts
  ui/packages/artalk/src/lib/detect.ts
  ui/packages/artalk/src/lib/user.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
  ui/packages/artalk/src/plugins/editor/upload.ts
  ui/packages/artalk/src/plugins/list/error-dialog.ts
  ui/packages/artalk/src/plugins/list/time-ticking.ts
  ui/packages/artalk/src/plugins/markdown.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.ts
  ui/packages/artalk/types/editor.ts
Due: trigger-ui

refactor(ui/marked): separate markdown related codes
  ui/packages/artalk/src/lib/highlight.ts
  ui/packages/artalk/src/lib/marked-renderer.ts
  ui/packages/artalk/src/lib/marked.ts
  ui/packages/artalk/src/lib/sanitizer.ts
Due: trigger-ui

fix(ui/conf): sanitize `noComment` conf option for security
  ui/packages/artalk/src/plugins/list/no-comment.ts
Due: trigger-ui

fix(ui/conf): sanitize `noComment` conf option for security (#624)
  ui/packages/artalk/src/plugins/list/no-comment.ts
Due: trigger-ui

chore(dev): fix `.eslintignore` in vscode
  .vscode/settings.json
  ui/.eslintignore
  ui/.eslintrc.js
Due: trigger-ui

fix(notify_pusher): panic when admin ids array is empty
  internal/notify_pusher/multi.go
Due: trigger-app

fix(notify_pusher): panic when admin ids array is empty (#634)
  internal/notify_pusher/multi.go
Due: trigger-app

feat(ui/test): add end-to-end (e2e) testing using Playwright
  .gitignore
  Makefile
  scripts/frontend-e2e-test.sh
  ui/.eslintrc.js
  ui/package.json
  ui/packages/artalk/package.json
  ui/packages/artalk/playwright.config.ts
  ui/packages/artalk/scripts/prepare-test.js
  ui/packages/artalk/tests/e2e/comment-add.spec.ts
  ui/packages/artalk/tests/html/ArtalkCount.html
  ui/packages/artalk/tests/html/ArtalkI18n.html
  ui/packages/artalk/tests/html/ArtalkLite.html
  ui/packages/artalk/tests/html/CSRF.html
  ui/packages/artalk/tsconfig.json
  ui/pnpm-lock.yaml
  ui/tsconfig.base.json
Due: trigger-ui

docs: provide clearer and more detailed instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(ci): integrate with codecov
  .circleci/conditional_config.yml
  CONTRIBUTING.md
  README.md
  test/app.go
Due: trigger-app

fix(ui/editor): fix position of the comment box when replying (#643)
  ui/packages/artalk/src/editor/state.ts
  ui/packages/artalk/src/plugins/editor/mover.ts
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
Due: trigger-ui

fix(ui/editor): fix position of the comment box when replying (#643) (#648)
  ui/packages/artalk/src/editor/state.ts
  ui/packages/artalk/src/plugins/editor/mover.ts
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
Due: trigger-ui

添加render.com部署指南文章链接
  docs/guide/extras.md
Due: none

Update
  docs/guide/extras.md
Due: none

docs(deploy): add deployment guide for render.com (#649)
  docs/guide/extras.md
Due: none

删除一行多余的列表行
  docs/guide/extras.md
Due: none

fix(ui): scroll to the center of the viewport issue
  ui/packages/artalk/src/lib/ui.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/src/plugins/list/goto-first.ts
Due: trigger-ui

docs(conf): disable `frontend.uaBadge` config option by default
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
Due: trigger-app

chore(docs): tidy up documentation
  docs/guide/deploy.md
  docs/guide/extras.md
  docs/guide/transfer.md
Due: none

feat: garbage collection feature
  internal/cache/simple_cache/cache.go
  internal/cache/simple_cache/cache_test.go
Due: trigger-app

update
  internal/cache/simple_cache/cache.go
  internal/cache/simple_cache/cache_test.go
Due: trigger-app

update
  internal/cache/simple_cache/cache_test.go
Due: trigger-app

chore(docs): replace artalk to npm import in docs
  docs/.vitepress/theme/Artalk.vue
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

test(vue): add test cases for vue framework
  test/vue-test/.gitignore
  test/vue-test/.vscode/extensions.json
  test/vue-test/README.md
  test/vue-test/env.d.ts
  test/vue-test/index.html
  test/vue-test/package.json
  test/vue-test/pnpm-lock.yaml
  test/vue-test/public/favicon.ico
  test/vue-test/src/App.vue
  test/vue-test/src/assets/main.css
  test/vue-test/src/components/Artalk.vue
  test/vue-test/src/components/HelloWorld.vue
  test/vue-test/src/main.ts
  test/vue-test/src/router/index.ts
  test/vue-test/src/views/AboutView.vue
  test/vue-test/src/views/HomeView.vue
  test/vue-test/tsconfig.app.json
  test/vue-test/tsconfig.json
  test/vue-test/tsconfig.node.json
  test/vue-test/vite.config.ts
Due: trigger-app

fix(ui/dark-mode): `setDarkMode` is unable to save to the instance config
  ui/packages/artalk/src/components/dark-mode.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
  ui/packages/artalk/types/event.ts
Due: trigger-ui

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
