Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

reduce nestings in response structures
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  server/handler/admin_comment_edit.go
  server/handler/admin_page_edit.go
  server/handler/admin_page_fetch.go
  server/handler/admin_setting.go
  server/handler/admin_site_add.go
  server/handler/admin_site_edit.go
  server/handler/admin_transfer.go
  server/handler/admin_user_add.go
  server/handler/admin_user_edit.go
  server/handler/captcha.go
  server/handler/comment_add.go
  server/handler/comment_get.go
  ui/artalk-sidebar/src/pages/settings.vue
  ui/artalk/src/api/_base.ts
  ui/artalk/src/api/_request.ts
  ui/artalk/src/api/site.ts
  ui/artalk/src/api/system.ts
  ui/artalk/src/api/upload.ts
  ui/artalk/src/api/user.ts
Due: trigger-app, trigger-ui

separate unread
  server/handler/mark_read.go
  server/server.go
Due: trigger-app

fix
  internal/dao/query_find.go
Due: trigger-app

refactor(api/comments): get comments
  internal/dao/cook.go
  internal/entity/comment_cooked.go
  server/handler/comment_get.go
  server/handler/comment_get_query.go
  server/handler/comments_get/base.go
  server/handler/comments_get/scope_page.go
  server/handler/comments_get/scope_site.go
  server/handler/comments_get/scope_user.go
  server/handler/comments_get/scoper.go
  server/handler/comments_get/sort.go
  server/handler/comments_get/utils_count.go
  server/handler/comments_get/utils_list.go
  server/handler/utils.go
Due: trigger-app

chore: remove vite temporary file
  ui/artalk/vite.config.ts.timestamp-1704558881767-a016ed5b714ce.mjs
Due: trigger-ui

chore: restore swagger file
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

移除为管理员分配站点名的站点隔离功能，简化实现
  internal/config/config.go
  internal/core/conf_sync.go
  internal/dao/cook.go
  internal/dao/query_find_test.go
  internal/entity/user.go
  internal/entity/user_cooked.go
  internal/notify_pusher/checker.go
  server/common/check.go
  server/handler/admin_cache.go
  server/handler/admin_comment_del.go
  server/handler/admin_comment_edit.go
  server/handler/admin_page_del.go
  server/handler/admin_page_edit.go
  server/handler/admin_page_fetch.go
  server/handler/admin_page_get.go
  server/handler/admin_send_mail.go
  server/handler/admin_setting.go
  server/handler/admin_site_add.go
  server/handler/admin_site_del.go
  server/handler/admin_site_edit.go
  server/handler/admin_site_get.go
  server/handler/admin_transfer.go
  server/handler/admin_user_add.go
  server/handler/admin_user_del.go
  server/handler/admin_user_edit.go
  server/handler/admin_user_get.go
  server/handler/admin_vote_sync.go
  ui/artalk-sidebar/src/components/UserEditor.vue
  ui/artalk-sidebar/src/i18n/messages.ts
Due: trigger-app, trigger-ui

fix ci
  test/fixtures/users.yml
  ui/artalk/src/api/user.ts
  ui/artalk/src/types/data.ts
Due: trigger-app, trigger-ui

remove useless codes
  server/common/check.go
  server/handler/comment_add.go
Due: trigger-app

refactor pagesAllFetch
  server/handler/admin_cache.go
  server/handler/admin_page_fetch.go
  server/handler/admin_send_mail.go
  ui/artalk-sidebar/src/pages/pages.vue
  ui/artalk/src/api/page.ts
Due: trigger-app, trigger-ui

limiter protected paths
  server/middleware/limiter/limiter.go
  server/server.go
Due: trigger-app

code file separate
  server/handler/cache_flush.go
  server/handler/cache_warm_up.go
  server/handler/captcha.go
  server/handler/captcha_get.go
  server/handler/captcha_status.go
  server/handler/captcha_verify.go
  server/handler/comment_edit.go
  server/handler/mail_send.go
  server/handler/notify_list.go
  server/handler/notify_read.go
  server/handler/notify_read_all.go
  server/handler/page_fetch.go
  server/handler/page_fetch_all.go
  server/handler/page_fetch_all_status.go
  server/handler/page_pv.go
  server/handler/setting_get.go
  server/handler/setting_save.go
  server/handler/setting_template.go
  server/handler/transfer.go
  server/handler/transfer_export.go
  server/handler/transfer_import.go
  server/handler/transfer_upload.go
  server/handler/user_login.go
  server/handler/user_status.go
Due: trigger-app

fix some bug of interacting with backend
  server/handler/comment_edit.go
  server/handler/page_fetch.go
  server/handler/page_fetch_all.go
  server/handler/page_fetch_all_status.go
  server/handler/site_add.go
  server/handler/site_edit.go
  ui/artalk-sidebar/src/components/SiteCreate.vue
  ui/artalk-sidebar/src/components/SiteEditor.vue
  ui/artalk-sidebar/src/components/UserEditor.vue
  ui/artalk-sidebar/src/pages/users.vue
  ui/artalk/src/api/page.ts
  ui/artalk/src/api/site.ts
  ui/artalk/src/api/user.ts
Due: trigger-app, trigger-ui

add test for version endpoint
  server/handler/version_test.go
Due: trigger-app

fix and rename
  ui/artalk-sidebar/src/components/PageEditor.vue
  ui/artalk-sidebar/src/pages/pages.vue
  ui/artalk/src/api/admin.ts
  ui/artalk/src/api/captcha.ts
  ui/artalk/src/api/comment.ts
  ui/artalk/src/api/index.ts
  ui/artalk/src/api/notify.ts
  ui/artalk/src/api/page.ts
  ui/artalk/src/api/system.ts
  ui/artalk/src/comment/actions.ts
  ui/artalk/src/components/checker/captcha-renders.ts
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/data.ts
  ui/artalk/src/layer/sidebar-layer.ts
  ui/artalk/src/plugins/editor/header-user.ts
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/src/plugins/list/unread-badge.ts
  ui/artalk/src/plugins/list/unread.ts
  ui/artalk/src/plugins/list/with-editor.ts
  ui/artalk/src/plugins/notifies.ts
  ui/artalk/src/service.ts
  ui/artalk/src/types/data.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

add fetch error class for handling
  ui/artalk/src/api/_request.ts
  ui/artalk/src/types/data.ts
Due: trigger-ui

rename handler code files
  server/handler/cache.go
  server/handler/comment_del.go
  server/handler/comment_edit.go
  server/handler/comment_list.go
  server/handler/notify_read.go
  server/handler/page_del.go
  server/handler/page_edit.go
  server/handler/page_fetch.go
  server/handler/page_list.go
  server/handler/send_mail.go
  server/handler/setting.go
  server/handler/site_add.go
  server/handler/site_del.go
  server/handler/site_edit.go
  server/handler/site_list.go
  server/handler/transfer.go
  server/handler/upload.go
  server/handler/user_add.go
  server/handler/user_del.go
  server/handler/user_edit.go
  server/handler/user_info.go
  server/handler/user_list.go
  server/handler/vote_sync.go
Due: trigger-app

fix new checker captcha iframe url
  ui/artalk/src/service.ts
Due: trigger-ui

replace tab with spaces in go comment
  internal/template/template_loader.go
  server/handler/captcha_status.go
  server/handler/comment_list.go
  server/handler/page_list.go
  server/handler/stat.go
  server/handler/user_create.go
  server/handler/vote.go
  server/server.go
Due: trigger-app

chore: refine
  server/common/resp.go
Due: trigger-app

refactor: checker support both `Promise` and callback fn
  ui/artalk/src/api/_options.ts
  ui/artalk/src/api/_request.ts
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
  ui/artalk/src/types/context.ts
Due: trigger-ui

complete the validate tag for request fields and enable `--defaultRequired`
  Makefile
  internal/artransfer/importer.go
  server/handler/comment_create.go
  server/handler/comment_list.go
  server/handler/comment_update.go
  server/handler/notify_list.go
  server/handler/notify_read.go
  server/handler/page_fetch_all.go
  server/handler/page_list.go
  server/handler/page_pv.go
  server/handler/page_update.go
  server/handler/site_create.go
  server/handler/site_update.go
  server/handler/stat.go
  server/handler/upload.go
  server/handler/user_create.go
  server/handler/user_info.go
  server/handler/user_list.go
  server/handler/user_login.go
  server/handler/user_status.go
  server/handler/user_update.go
  server/handler/vote.go
Due: trigger-app

fix sidebar locale conf and refactor user login
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/global.ts
  ui/artalk-sidebar/src/main.ts
  ui/artalk-sidebar/src/pages/login.vue
  ui/artalk-sidebar/src/stores/user.ts
Due: trigger-ui

fix ui testing
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

replace original api client with auto-generated codes
  server/handler/comment_create.go
  server/handler/comment_update.go
  server/handler/notify_read.go
  server/handler/site_delete.go
  server/handler/site_update.go
  server/handler/upload.go
  ui/artalk/src/api/_base.ts
  ui/artalk/src/api/_request.ts
  ui/artalk/src/api/captcha.ts
  ui/artalk/src/api/comment.ts
  ui/artalk/src/api/fetch.ts
  ui/artalk/src/api/index.ts
  ui/artalk/src/api/notify.ts
  ui/artalk/src/api/options.ts
  ui/artalk/src/api/page.ts
  ui/artalk/src/api/site.ts
  ui/artalk/src/api/system.ts
  ui/artalk/src/api/upload.ts
  ui/artalk/src/api/user.ts
  ui/artalk/src/api/v2.ts
Due: trigger-app, trigger-ui

artalk-sidebar pkg apply new api client
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/components/PageEditor.vue
  ui/artalk-sidebar/src/components/SiteCreate.vue
  ui/artalk-sidebar/src/components/SiteEditor.vue
  ui/artalk-sidebar/src/components/UserEditor.vue
  ui/artalk-sidebar/src/pages/login.vue
  ui/artalk-sidebar/src/pages/pages.vue
  ui/artalk-sidebar/src/pages/settings.vue
  ui/artalk-sidebar/src/pages/sites.vue
  ui/artalk-sidebar/src/pages/transfer.vue
  ui/artalk-sidebar/src/pages/users.vue
  ui/artalk-sidebar/src/stores/nav.ts
Due: trigger-ui

fix and refactor captcha and limiter
  internal/captcha/pages/geetest.html
  internal/captcha/pages/hcaptcha.html
  internal/captcha/pages/recaptcha.html
  internal/captcha/pages/turnstile.html
  server/common/captcha.go
  server/handler/captcha_status.go
  server/handler/captcha_verify.go
  server/handler/comment_create.go
  server/handler/upload.go
  server/handler/user_login.go
  server/handler/vote.go
  server/middleware/admin.go
  server/middleware/limiter/limiter.go
  server/server.go
  ui/artalk/src/api/fetch.ts
  ui/artalk/src/api/options.ts
  ui/artalk/src/layer/sidebar-layer.ts
  ui/artalk/src/lib/component.ts
  ui/artalk/src/lib/user.ts
  ui/artalk/src/plugins/list/fetch.ts
  ui/artalk/src/service.ts
Due: trigger-app, trigger-ui

artalk pkg apply new api client
  ui/artalk/src/artalk.ts
  ui/artalk/src/comment/actions.ts
  ui/artalk/src/components/checker/admin.ts
  ui/artalk/src/components/checker/captcha-renders.ts
  ui/artalk/src/components/checker/captcha.ts
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
  ui/artalk/src/layer/sidebar-layer.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/src/plugins/editor/header-user.ts
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/src/plugins/editor/state-reply.ts
  ui/artalk/src/plugins/editor/submit-add.ts
  ui/artalk/src/plugins/editor/upload.ts
  ui/artalk/src/plugins/list/fetch.ts
  ui/artalk/src/plugins/list/unread.ts
  ui/artalk/src/plugins/list/with-editor.ts
  ui/artalk/src/plugins/notifies.ts
  ui/artalk/src/plugins/stat.ts
  ui/artalk/src/types/context.ts
  ui/artalk/src/types/data.ts
Due: trigger-ui

fix issues
  server/handler/captcha_get.go
  server/handler/comment_list.go
  server/handler/notify_list.go
  server/handler/notify_read.go
  server/handler/notify_read_all.go
  server/handler/setting_template.go
  ui/artalk-sidebar/src/pages/settings.vue
  ui/artalk-sidebar/src/pages/users.vue
  ui/artalk/src/api/fetch.ts
  ui/artalk/src/api/index.ts
  ui/artalk/src/api/options.ts
  ui/artalk/src/api/v2.ts
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/config.ts
  ui/artalk/src/plugins/stat.ts
Due: trigger-app, trigger-ui

add script to build http client by swagger.json
  docs/swagger/package.json
Due: none

refactor(api): update swagger file of API v2
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

chore(fetch): returns empty object when json deserialize failed
  ui/artalk/src/api/fetch.ts
Due: trigger-ui

fix(i18n): sidebar language cannot be changed
  ui/artalk-sidebar/src/main.ts
Due: trigger-ui

fix(ui/lite): correct the instance name for compiling ArtalkLite (#740)
  ui/artalk/vite.config.ts
Due: trigger-ui

fix(ui/pagination): auto load list when scroll reaches bottom
  ui/artalk/src/plugins/list/reach-bottom.ts
Due: trigger-ui

chore(ci): fix ui test trigger rules
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
Due: none

fix(cache): unable to change admin list after caching (#748)
  internal/dao/query_find.go
  internal/dao/query_find_test.go
Due: trigger-app

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
