Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

chore(ci): fix test ci
  .github/workflows/test-frontend.yml
Due: none

chore: update linter
  ui/.eslintrc.js
  ui/packages/artalk/package.json
Due: trigger-ui

fix redocly config
  docs/redocly.yaml
Due: none

chore(deps): bump frontend deps (#679)
  ui/.eslintrc.js
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/.npmignore
  ui/packages/artalk/package.json
  ui/packages/artalk/postcss.config.js
  ui/packages/plugin-katex/package.json
  ui/packages/plugin-lightbox/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

chore(docs): fix redocly config (#696)
  docs/redocly.yaml
Due: none

chore(ci): fix ci pnpm version
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
  Dockerfile
  scripts/build-frontend.sh
Due: none

chore: fix eslint
  docs/landing/.eslintrc.cjs
Due: none

ci: add docs build test
  .github/workflows/docs-cn.yml
  .github/workflows/docs-test.yml
  package.json
Due: none

update test-docs.yml
  .github/workflows/test-docs.yml
Due: none

style: fix eslint
  ui/.eslintrc.js
Due: trigger-ui

fix script
  docs/docs/.gitignore
  docs/docs/.vitepress/theme/Artalk.vue
  docs/landing/package.json
  docs/swagger/.gitignore
  docs/swagger/package.json
  package.json
Due: none

add netlify.toml
  netlify.toml
Due: none

fix docs:patch
  package.json
Due: none

fix(ui/sidebar): refactor settings and fix save issue (#677)
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
  ui/packages/artalk-sidebar/src/lib/settings-option.ts
  ui/packages/artalk-sidebar/src/lib/settings.ts
  ui/packages/artalk-sidebar/src/pages/settings.vue
Due: trigger-ui

fix(ui/sidebar): refactor settings and fix save issue (#677) (#706)
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
  ui/packages/artalk-sidebar/src/lib/settings-option.ts
  ui/packages/artalk-sidebar/src/lib/settings.ts
  ui/packages/artalk-sidebar/src/pages/settings.vue
Due: trigger-ui

fix(ui/pagination): auto switch page by url hashtag issue (#693)
  ui/packages/artalk/src/list/page.ts
Due: trigger-ui

fix(ui): add `referrerpolicy` attribute for iframe (#687)
  ui/packages/artalk-sidebar/index.html
  ui/packages/artalk/src/components/checker/captcha-renders.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
Due: trigger-ui

fix(ui): add `referrerpolicy` attribute for iframe (#687) (#707)
  ui/packages/artalk-sidebar/index.html
  ui/packages/artalk/src/components/checker/captcha-renders.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
Due: trigger-ui

docs(i18n): add translation for `open` button
  ui/packages/artalk/src/components/error-dialog.ts
  ui/packages/artalk/src/i18n/en.ts
  ui/packages/artalk/src/i18n/jp.ts
  ui/packages/artalk/src/i18n/zh-CN.ts
  ui/packages/artalk/src/i18n/zh-TW.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
Due: trigger-ui

fix(sidebar): sidebar language switch and config save issue (#708)
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
Due: trigger-ui

chore(docs): bump Artalk to v2.7.2
  docs/docs/.vitepress/theme/Artalk.vue
  docs/docs/package.json
  pnpm-lock.yaml
Due: none

chore(eslint): fix sidebar eslint configuration
  ui/.eslintignore
  ui/.eslintrc.cjs
  ui/packages/artalk-sidebar/.eslintrc.cjs
  ui/packages/artalk-sidebar/.eslintrc.js
  ui/packages/artalk-sidebar/.gitignore
  ui/packages/artalk-sidebar/auto-imports.d.ts
  ui/packages/artalk-sidebar/env.d.ts
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
  ui/packages/artalk-sidebar/src/components/SiteEditor.vue
  ui/packages/artalk-sidebar/src/components/SiteSwitcher.vue
  ui/packages/artalk-sidebar/src/components/Tab.vue
  ui/packages/artalk-sidebar/src/components/UserEditor.vue
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk-sidebar/src/lib/settings-option.ts
  ui/packages/artalk-sidebar/src/pages/login.vue
  ui/packages/artalk-sidebar/src/pages/pages.vue
  ui/packages/artalk-sidebar/src/pages/sites.vue
  ui/packages/artalk-sidebar/src/pages/users.vue
  ui/packages/artalk-sidebar/src/vite-env.d.ts
  ui/packages/artalk-sidebar/tsconfig.app.json
  ui/packages/artalk-sidebar/tsconfig.json
  ui/packages/artalk-sidebar/tsconfig.node.json
  ui/packages/artalk-sidebar/tsconfig.vitest.json
  ui/packages/artalk-sidebar/vite.config.ts
  ui/packages/artalk/.eslintrc.cjs
  ui/packages/artalk/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

feat(cmd): support cli flag for creating admin account
  cmd/admin.go
Due: trigger-app

update config files
  .eslintignore
  .eslintrc.cjs
  .npmignore
  .prettierrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: none

update github workflows
  .github/workflows/build-docker.yml
  .github/workflows/build-frontend.yml
  .github/workflows/release.yml
  .github/workflows/test-frontend.yml
Due: none

update vscode settings.json
  .vscode/settings.json
Due: none

update docs
  CONTRIBUTING.md
  docs/docs/develop/event.md
  docs/docs/develop/index.md
  docs/docs/develop/plugs.md
  docs/docs/guide/frontend/config.md
  docs/docs/guide/frontend/i18n.md
  docs/docs/guide/frontend/lightbox.md
Due: none

update build scripts
  scripts/build-frontend.sh
  scripts/frontend-e2e-test.sh
  ui/artalk-sidebar/scripts/fetch-conf-tpl.js
  ui/artalk/playwright.config.ts
  ui/artalk/scripts/prepare-test.js
  ui/artalk/src/plugins/admin-only-elem.ts
Due: trigger-ui

tidy up
  test/ssg-test/package.json
  test/ssg-test/pnpm-lock.yaml
  test/vue-test/pnpm-lock.yaml
  ui/artalk/package.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: trigger-app, trigger-ui

fix docs build
  .github/workflows/docs-cn.yml
  .github/workflows/test-docs.yml
  docs/docs/README.md
  docs/docs/package.json
  netlify.toml
  package.json
  pnpm-lock.yaml
Due: none

feat(ci): add dry-run mode for build workflow
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-frontend.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-frontend.yml
Due: none

refactor(ci): better release workflow
  .github/actions/comment/action.yml
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-done.yml
  .github/workflows/build-frontend.yml
  .github/workflows/build-tagging.yml
  .github/workflows/build-ui.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

refactor(docker): add `--build-arg` argument to skip ui build
  .dockerignore
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-ui.yml
  .github/workflows/build.yml
  Dockerfile
  Makefile
Due: none

chore(ci): fixed tag version for git checkout branch
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-done.yml
  .github/workflows/build-tagging.yml
  .github/workflows/build-ui.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
