Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

fix(api/comment_add): SIGSEGV crash in comment_add (#478)
  internal/anti_spam/anti_spam.go
  server/handler/comment_add.go
Due: trigger-app

fix(api/comment_add): SIGSEGV crash in comment_add (#478) (#481)
  internal/anti_spam/anti_spam.go
  server/handler/comment_add.go
Due: trigger-app

perf(ip_region): add db file existence check and error message
  internal/core/core.go
Due: trigger-app

perf(ip_region): add db file existence check and error message (#482)
  internal/core/core.go
Due: trigger-app

fix(CI): upgrade and pin node.js and pnpm version
  .circleci/conditional_config.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  Dockerfile
  docs/.npmrc
  docs/pnpm-lock.yaml
  scripts/build-frontend.sh
  ui/pnpm-lock.yaml
Due: trigger-ui

fix(CI): upgrade and pin node.js and pnpm version (#484)
  .circleci/conditional_config.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
  .github/workflows/release.yml
  Dockerfile
  docs/.npmrc
  docs/pnpm-lock.yaml
  scripts/build-frontend.sh
  ui/pnpm-lock.yaml
Due: trigger-ui

feat(go): upgrade golang to v1.20.3 and some deps
  .github/workflows/build-app.yml
  Dockerfile
  go.mod
  go.sum
  internal/cache/cache.go
Due: trigger-app

feat(go): upgrade golang to v1.20.3 and some deps (#485)
  .github/workflows/build-app.yml
  Dockerfile
  go.mod
  go.sum
  internal/cache/cache.go
Due: trigger-app

docs: update swagger docs and some deps
  docs/package.json
  docs/pnpm-lock.yaml
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

chore(deps): upgrade frontend deps
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

chore: update renovate.json
  .github/renovate.json
Due: none

fix(api): comment IP data loss after editing
  server/handler/admin_comment_edit.go
Due: trigger-app

fix(api): comment IP data loss after editing (#504)
  server/handler/admin_comment_edit.go
Due: trigger-app

feat(build): add embedded fe lite and i18n scripts (#493)
  scripts/build-frontend.sh
Due: none

feat(build): add embedded fe lite and i18n scripts (#493) (#505)
  scripts/build-frontend.sh
Due: none

chore(build): bump pnpm to v8.4.0
  .circleci/conditional_config.yml
  Dockerfile
  scripts/build-frontend.sh
Due: none

chore(deps): update some deps in docs
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

feat(go): upgrade golang to v1.20.4 and some deps
  .github/workflows/build-app.yml
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

feat(go): upgrade golang to v1.20.4 and some deps (#506)
  .github/workflows/build-app.yml
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

chore(deps): upgrade frontend deps
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk-sidebar/tsconfig.json
  ui/packages/artalk-sidebar/typed-router.d.ts
  ui/packages/artalk/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

fix(editor): prevent editor reset on comment failure
  ui/packages/artalk/src/editor/submit.ts
Due: trigger-ui

fix(editor): prevent editor reset on comment failure (#507)
  ui/packages/artalk/src/editor/submit.ts
Due: trigger-ui

feat(gravatar): add `gravatar.params` config option
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  ui/packages/artalk/src/defaults.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/types/artalk-config.d.ts
Due: trigger-app, trigger-ui

add docs and fix sidebar
  docs/guide/frontend/config.md
  ui/packages/artalk-sidebar/src/components/Header.vue
Due: trigger-ui

feat(gravatar): add `gravatar.params` config option (#508)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/frontend/config.md
  ui/packages/artalk-sidebar/src/components/Header.vue
  ui/packages/artalk/src/defaults.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/types/artalk-config.d.ts
Due: trigger-app, trigger-ui

docs(extras): add deploy guide for fly.io
  docs/guide/extras.md
Due: none

docs(extras): add deploy guide for fly.io (#520)
  docs/guide/extras.md
Due: none

feat(go): upgrade golang to v1.21.0 and some deps
  .circleci/conditional_config.yml
  .github/workflows/build-app.yml
  CONTRIBUTING.md
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

feat(go): upgrade golang to v1.21.0 and some deps (#543)
  .circleci/conditional_config.yml
  .github/workflows/build-app.yml
  CONTRIBUTING.md
  Dockerfile
  go.mod
  go.sum
Due: trigger-app

chore(conf): fix default gravatar mirror url for english env in conf
  conf/artalk.example.yml
Due: trigger-app

chore(deps): upgrade frontend deps
  ui/package.json
  ui/packages/artalk-sidebar/auto-imports.d.ts
  ui/packages/artalk-sidebar/components.d.ts
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk-sidebar/typed-router.d.ts
  ui/packages/artalk/package.json
  ui/packages/artalk/types/artalk-data.d.ts
  ui/pnpm-lock.yaml
Due: trigger-ui

chore(deps): update deps in docs
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

chore(ci): upgrade deps in ci
  .circleci/config.yml
  .github/workflows/build-docker.yml
Due: none

refactor(CI): replace using `docker/metadata-action` for the docker push
  .github/workflows/build-docker.yml
Due: none

refactor(CI): replace using `docker/metadata-action` for the docker push (#545)
  .github/workflows/build-docker.yml
Due: none

refactor(CI): replace renovate with github dependabot
  .github/dependabot.yml
  .github/renovate.json
Due: none

refactor(CI): replace renovate with github dependabot (#546)
  .github/dependabot.yml
  .github/renovate.json
Due: none

chore(CI): fix dependabot.yml
  .github/dependabot.yml
Due: none

chore(CI): modify dependabot.yml prefix config
  .github/dependabot.yml
Due: none

chore(CI): dependabot use groups
  .github/dependabot.yml
Due: none

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
