Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

fix(cache): unable to change admin list after caching (#748) (#750)
  internal/dao/query_find.go
  internal/dao/query_find_test.go
Due: trigger-app

refactor(transfer): normalize transfer payload parameter name
  docs/docs/guide/transfer.md
  i18n/zh-CN.yml
  internal/artransfer/base.go
  internal/artransfer/importer.go
  ui/artalk-sidebar/src/components/FileUploader.vue
  ui/artalk-sidebar/src/components/LogTerminal.vue
  ui/artalk-sidebar/src/pages/transfer.vue
Due: trigger-app, trigger-ui

refactor(ui/ctx): add `getComments` and `getCommentNodes` func in context
  ui/artalk/src/context.ts
  ui/artalk/src/types/context.ts
  ui/plugin-lightbox/main.ts
Due: trigger-ui

fix import
  ui/artalk/src/context.ts
  ui/artalk/src/types/context.ts
Due: trigger-ui

refactor(ui/ctx): add `getComments` and `getCommentNodes` in context (#752)
  ui/artalk/src/context.ts
  ui/artalk/src/types/context.ts
  ui/plugin-lightbox/main.ts
Due: trigger-ui

refactor(ui/comment): rename class `Comment` to `CommentNode`
  ui/artalk/src/comment/actions.ts
  ui/artalk/src/comment/comment-node.ts
  ui/artalk/src/comment/index.ts
  ui/artalk/src/comment/render.ts
  ui/artalk/src/context.ts
  ui/artalk/src/list/comment.ts
  ui/artalk/src/list/layout.ts
  ui/artalk/src/list/list.ts
  ui/artalk/src/types/context.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

chore(ui/ctx): remove token `public` in context
  ui/artalk/src/context.ts
Due: trigger-ui

fix(ui/layer): unexpected behavior with multiple items when closing
  ui/artalk/src/components/checker/index.ts
  ui/artalk/src/layer/layer-manager.ts
  ui/artalk/src/layer/layer.ts
  ui/artalk/src/layer/wrap.ts
Due: trigger-ui

fix(ui/sidebar_layer): sidebar still displays when login is required
  ui/artalk/src/layer/layer.ts
  ui/artalk/src/layer/sidebar-layer.ts
  ui/artalk/src/layer/wrap.ts
Due: trigger-ui

feat(ui/admin): add logout button in admin panel (#488)
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/components/Header.vue
  ui/artalk-sidebar/src/components/SiteSwitcher.vue
  ui/artalk-sidebar/src/i18n/messages.ts
  ui/artalk-sidebar/src/pages/login.vue
  ui/artalk-sidebar/src/stores/user.ts
Due: trigger-ui

feat(ui/admin): add logout button in admin panel (#488) (#753)
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/components/Header.vue
  ui/artalk-sidebar/src/components/SiteSwitcher.vue
  ui/artalk-sidebar/src/i18n/messages.ts
  ui/artalk-sidebar/src/pages/login.vue
  ui/artalk-sidebar/src/stores/user.ts
Due: trigger-ui

fix(ui/editor): prevent propagation of click event in editor (#734)
  ui/artalk/src/plugins/editor-kit.ts
Due: trigger-ui

chore(fix/pin): fix pinned comment sort rule
  server/handler/comments_get/base.go
  server/handler/comments_get/scope_page.go
  server/handler/comments_get/sort.go
Due: trigger-app

feat(notify): add `notify_pending` config option (#728)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/admin_notify.md
  i18n/en.yml
  i18n/zh-CN.yml
  i18n/zh-TW.yml
  internal/config/config.go
  internal/notify_pusher/checker.go
  internal/notify_pusher/email.go
  internal/notify_pusher/multi.go
  internal/notify_pusher/operate.go
Due: trigger-app

feat(notify): add `notify_pending` config option (#728) (#754)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/admin_notify.md
  i18n/en.yml
  i18n/zh-CN.yml
  i18n/zh-TW.yml
  internal/config/config.go
  internal/notify_pusher/checker.go
  internal/notify_pusher/email.go
  internal/notify_pusher/multi.go
  internal/notify_pusher/operate.go
Due: trigger-app

perf(ui/conf): support for watching partial changes in config with `watchConf()`
  ui/artalk-sidebar/src/main.ts
  ui/artalk/src/context.ts
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/dark-mode.ts
  ui/artalk/src/plugins/editor-kit.ts
  ui/artalk/src/plugins/editor/index.ts
  ui/artalk/src/plugins/list/copyright.ts
  ui/artalk/src/plugins/list/dropdown.ts
  ui/artalk/src/plugins/list/sidebar-btn.ts
  ui/artalk/src/plugins/list/unread-badge.ts
  ui/artalk/src/plugins/stat.ts
  ui/artalk/src/plugins/version-check.ts
  ui/artalk/src/service.ts
  ui/artalk/src/types/context.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

perf(ui/conf): support for watching partial changes in config with `watchConf()` (#755)
  ui/artalk-sidebar/src/main.ts
  ui/artalk/src/context.ts
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/dark-mode.ts
  ui/artalk/src/plugins/editor-kit.ts
  ui/artalk/src/plugins/editor/index.ts
  ui/artalk/src/plugins/list/copyright.ts
  ui/artalk/src/plugins/list/dropdown.ts
  ui/artalk/src/plugins/list/sidebar-btn.ts
  ui/artalk/src/plugins/list/unread-badge.ts
  ui/artalk/src/plugins/stat.ts
  ui/artalk/src/plugins/version-check.ts
  ui/artalk/src/service.ts
  ui/artalk/src/types/context.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

fix(ui/sidebar): incorrectly increasing pv count in sidebar (#724)
  ui/artalk-sidebar/src/global.ts
  ui/artalk/src/plugins/stat.ts
  ui/artalk/src/types/config.ts
Due: trigger-ui

fix(ui/no_comment): flickering when clearing list before fetch
  ui/artalk/src/plugins/list/no-comment.ts
Due: trigger-ui

perf(ui/sidebar): prevent potential token leakage by clearing query in iframe url
  server/handler/setting_apply.go
  ui/artalk-sidebar/src/global.ts
Due: trigger-app, trigger-ui

refactor(ui): optimize init and update lifecycle events
  docs/docs/develop/event.md
  docs/docs/develop/plugs.md
  ui/artalk-sidebar/src/App.vue
  ui/artalk/src/artalk.ts
  ui/artalk/src/context.ts
  ui/artalk/src/layer/layer-manager.ts
  ui/artalk/src/lib/watch-conf.ts
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/src/plugins/dark-mode.ts
  ui/artalk/src/plugins/list/copyright.ts
  ui/artalk/src/plugins/list/error-dialog.ts
  ui/artalk/src/plugins/list/fetch.ts
  ui/artalk/src/plugins/list/goto-first.ts
  ui/artalk/src/plugins/list/goto.ts
  ui/artalk/src/plugins/list/reach-bottom.ts
  ui/artalk/src/plugins/list/time-ticking.ts
  ui/artalk/src/plugins/list/unread-badge.ts
  ui/artalk/src/plugins/list/with-editor.ts
  ui/artalk/src/plugins/markdown.ts
  ui/artalk/src/types/event.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-ui

chore(ui/deps): bump deps for ui
  docs/docs/package.json
  docs/landing/package.json
  docs/swagger/package.json
  package.json
  pnpm-lock.yaml
  ui/artalk-sidebar/package.json
  ui/artalk/package.json
  ui/artalk/src/lib/marked.ts
Due: trigger-ui

perf(ui/i18n): refine some translation (#743)
  ui/artalk-sidebar/src/i18n/messages.ts
  ui/artalk-sidebar/src/pages/transfer.vue
  ui/artalk-sidebar/src/style.scss
  ui/artalk/src/comment/renders/reply-to.ts
  ui/artalk/src/components/error-dialog.ts
  ui/artalk/src/defaults.ts
  ui/artalk/src/i18n/en.ts
  ui/artalk/src/i18n/index.ts
  ui/artalk/src/i18n/jp.ts
  ui/artalk/src/i18n/zh-CN.ts
  ui/artalk/src/i18n/zh-TW.ts
  ui/artalk/src/plugins/editor/emoticons.ts
  ui/artalk/src/plugins/editor/submit.ts
  ui/artalk/src/plugins/editor/upload.ts
Due: trigger-ui

perf(ui/pagination): replace the prev/next text on pagination buttons with icons (#743)
  ui/artalk-sidebar/src/components/Pagination.vue
  ui/artalk/src/components/pagination.ts
  ui/artalk/src/style/pagination.scss
Due: trigger-ui

chore(deps): bump golang deps
  go.mod
  go.sum
Due: trigger-app

chore(docs): fix script cdn links
  docs/docs/.vitepress/config.ts
Due: none

fix(api/comments): counting comments issue in PostgreSQL db (#760)
  server/handler/comments_get/base.go
Due: trigger-app

fix(api/comments): counting comments issue in PostgreSQL db (#760) (#761)
  server/handler/comments_get/base.go
Due: trigger-app

fix(cmd/admin): update user role to admin if already exists
  cmd/admin.go
Due: trigger-app

feat(config): add `db.prepare_stmt` config option (#760)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/config.md
  internal/config/config.go
  internal/db/db.go
  internal/db/open.go
Due: trigger-app

feat(config): add `db.prepare_stmt` config option (#760) (#762)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/docs/guide/backend/config.md
  internal/config/config.go
  internal/db/db.go
  internal/db/open.go
Due: trigger-app

chore(docs): update cdn source links
  docs/docs/.vitepress/config.ts
  docs/docs/guide/deploy.md
  docs/docs/guide/frontend/ip-region.md
Due: none

fix(ip_region): unable to output the IP region correctly (#760)
  cmd/import.go
  internal/ip_region/ip_region.go
  server/handler/comment_create.go
  server/handler/comment_update.go
  server/handler/comments_get/utils_list.go
Due: trigger-app

chore(docs): rename IP region in `zh-CN`
  conf/artalk.example.zh-CN.yml
  docs/docs/.vitepress/config.ts
  docs/docs/guide/frontend/ip-region.md
  internal/config/base.go
  internal/config/config.go
  ui/artalk/src/types/data.ts
Due: trigger-app, trigger-ui

fix(ui/pv): missing `pageTitle` field in the PV request
  ui/artalk/src/artalk.ts
  ui/artalk/src/plugins/stat.ts
Due: trigger-ui

fix(ui/no_comment): always appears when creating comment
  ui/artalk/src/lib/ui.ts
  ui/artalk/src/list/paginator/index.ts
  ui/artalk/src/list/paginator/read-more.ts
  ui/artalk/src/plugins/list/no-comment.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

fix(ui/list): unable to reply or delete comments after switching pagination
  ui/artalk/src/list/list.ts
  ui/artalk/src/plugins/editor/submit.ts
Due: trigger-ui

docs: supplement and refine `fe-api.md`
  conf/artalk.example.zh-CN.yml
  docs/docs/develop/fe-api.md
  docs/docs/develop/plugs.md
  docs/docs/guide/backend/fe-control.md
  docs/docs/guide/frontend/emoticons.md
  ui/artalk/src/lib/component.ts
Due: trigger-app, trigger-ui

chore(transfer): remove the url_resolver disabled warning msg
  internal/artransfer/base.go
Due: trigger-app

chore(Makefile): add http-client build cmd to update-swagger
  Makefile
Due: none

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
