Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

chore(ip_region): skip empty string
  internal/ip_region/ip_region.go
Due: trigger-app

feat(api/comment): add GET `/comments/:id` endpoint
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  server/handler/comment_get.go
  server/server.go
  ui/artalk/src/api/v2.ts
Due: trigger-app, trigger-ui

feat(api): add GET `/comments/:id` endpoint (#764)
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  server/handler/comment_get.go
  server/server.go
  ui/artalk/src/api/v2.ts
Due: trigger-app, trigger-ui

refactor(ui/comment): loose coupling between `Comment` and `Context`
  ui/artalk/src/comment/actions.ts
  ui/artalk/src/comment/comment-node.ts
  ui/artalk/src/comment/render.ts
  ui/artalk/src/comment/renders/actions.ts
  ui/artalk/src/comment/renders/avatar.ts
  ui/artalk/src/comment/renders/content.ts
  ui/artalk/src/comment/renders/header.ts
  ui/artalk/src/comment/renders/pending.ts
  ui/artalk/src/comment/renders/reply-at.ts
  ui/artalk/src/comment/renders/reply-to.ts
  ui/artalk/src/list/comment.ts
  ui/artalk/src/list/list.ts
Due: trigger-ui

refactor(ui/list): refactor the list layout manager
  ui/artalk/src/list/layout.ts
  ui/artalk/src/list/layout/flat.ts
  ui/artalk/src/list/layout/index.ts
  ui/artalk/src/list/layout/nest.ts
  ui/artalk/src/list/list.ts
Due: trigger-ui

chore(typo): fix comment typo
  ui/artalk/src/types/editor.ts
  ui/artalk/src/types/event.ts
Due: trigger-ui

feat(ui/goto): improved solution of navigating to comment via link hash (#693)
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/list/goto-dispatcher.ts
  ui/artalk/src/plugins/list/goto-focus.ts
  ui/artalk/src/plugins/list/goto.ts
  ui/artalk/src/plugins/list/index.ts
Due: trigger-ui

fix
  ui/artalk-sidebar/src/pages/comments.vue
Due: trigger-ui

Update comments.vue
  ui/artalk-sidebar/src/pages/comments.vue
Due: trigger-ui

feat(ui/goto): improved solution of navigating to comment via link hash (#693) (#765)
  ui/artalk-sidebar/src/pages/comments.vue
  ui/artalk/src/list/page.ts
  ui/artalk/src/plugins/list/goto-dispatcher.ts
  ui/artalk/src/plugins/list/goto-focus.ts
  ui/artalk/src/plugins/list/goto.ts
  ui/artalk/src/plugins/list/index.ts
Due: trigger-ui

fix(ui/scroll): scroll into view issue when `relativeTo` parameter is provided
  ui/artalk/src/comment/comment-node.ts
  ui/artalk/src/comment/render.ts
  ui/artalk/src/comment/renders/actions.ts
  ui/artalk/src/lib/ui.ts
  ui/artalk/src/list/comment.ts
  ui/artalk/src/list/layout/flat.ts
  ui/artalk/src/list/layout/nest.ts
Due: trigger-ui

perf(style/sidebar): improve some detail in sidebar
  ui/artalk-sidebar/src/App.vue
  ui/artalk-sidebar/src/style.scss
Due: trigger-ui

chore(i18n): update `zh-CN`
  i18n/zh-CN.yml
Due: none

fix(api/comments): `ua` field is optional and not required (#767)
  server/handler/comment_update.go
Due: trigger-app

fix(style): replace style `break-all` with `break-word` in content el (#644)
  ui/artalk/src/style/comment.scss
Due: trigger-ui

perf(ui/lite): disable ArtalkLite `preview` config option by default
  ui/artalk/src/defaults.ts
Due: trigger-ui

perf(ui/editor): place `Cancel Reply` at the bottom of editor area (#644)
  ui/artalk/src/editor/editor.html
  ui/artalk/src/editor/ui.ts
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/src/plugins/editor/state-reply.ts
  ui/artalk/src/style/editor.scss
Due: trigger-ui

perf(ui/editor): modify editor plug-in text buttons to icons for brevity
  ui/artalk/src/i18n/en.ts
  ui/artalk/src/i18n/jp.ts
  ui/artalk/src/i18n/zh-CN.ts
  ui/artalk/src/i18n/zh-TW.ts
  ui/artalk/src/plugins/editor/emoticons.ts
  ui/artalk/src/plugins/editor/preview.ts
  ui/artalk/src/plugins/editor/upload.ts
Due: trigger-ui

perf(ui/editor): optimize editor styles for narrow-width screens
  ui/artalk/src/style/editor.scss
Due: trigger-ui

chore(docs): import artalk css via node
  docs/docs/.vitepress/config.ts
  docs/docs/.vitepress/theme/Artalk.vue
  ui/artalk/src/config.ts
  ui/artalk/src/plugins/editor/emoticons.ts
  ui/artalk/src/plugins/editor/preview.ts
  ui/artalk/src/plugins/editor/upload.ts
  ui/artalk/src/style/editor.scss
Due: trigger-ui

perf(ui/editor): improve the icon details for editor
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/src/plugins/editor/state-reply.ts
  ui/artalk/src/style/editor.scss
Due: trigger-ui

chore(fiber_logger): correct the http status code range for err log
  server/server.go
Due: trigger-app

chore(style/icon): standardized icon css styles
  ui/artalk-sidebar/src/components/UserEditor.vue
  ui/artalk-sidebar/src/pages/pages.vue
  ui/artalk-sidebar/src/pages/settings.vue
  ui/artalk-sidebar/src/style/_extends.scss
  ui/artalk/src/layer/sidebar-layer.html
  ui/artalk/src/plugins/editor/state-edit.ts
  ui/artalk/src/plugins/editor/state-reply.ts
  ui/artalk/src/style/editor.scss
  ui/artalk/src/style/main.scss
  ui/artalk/src/style/sidebar-layer.scss
Due: trigger-ui

fix(ui/layer): ensure immediate operation when calling `show()` after `hide()`
  ui/artalk/index.html
  ui/artalk/src/layer/wrap.ts
  ui/artalk/src/plugins/editor-kit.ts
Due: trigger-ui

feat(ui/api): add `ctx.getApiHandlers()` to handle error responses and expose hooks
  ui/artalk/src/api/fetch.ts
  ui/artalk/src/api/handler.ts
  ui/artalk/src/api/index.ts
  ui/artalk/src/api/options.ts
  ui/artalk/src/config.ts
  ui/artalk/src/context.ts
  ui/artalk/src/types/context.ts
Due: trigger-ui

feat(ui/editor): add `beforeSubmit` hook for editor submitting
  ui/artalk/src/editor/editor.ts
  ui/artalk/src/types/config.ts
Due: trigger-ui

feat(api/auth): invalidate old auth tokens after changing password
  internal/entity/user.go
  server/common/auth.go
  server/common/captcha.go
  server/common/check.go
  server/handler/comment_create.go
  server/handler/comment_list.go
  server/handler/user_info.go
  server/handler/user_login.go
  server/handler/user_status.go
  ui/artalk/src/api/v2.ts
Due: trigger-app, trigger-ui

refactor(entity/user): extract `CheckPassword` function
  internal/entity/user.go
  server/handler/user_login.go
Due: trigger-app

feat(api/domain): add GET `/conf/domain` endpoint
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  server/handler/conf_domain.go
  server/middleware/cors.go
  server/server.go
  ui/artalk/src/api/v2.ts
Due: trigger-app, trigger-ui

refactor(origin): extract `CheckURLTrusted` function
  server/handler/conf_domain.go
  server/handler/user_info.go
  server/middleware/cors.go
Due: trigger-app

feat(ui/plugins): support dynamic loading of ui plug-in scripts
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  server/common/conf.go
  ui/artalk/src/artalk.ts
  ui/artalk/src/load.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/src/plugins/index.ts
  ui/artalk/src/types/config.ts
  ui/artalk/src/types/event.ts
  ui/artalk/src/types/window.d.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-app, trigger-ui

feat(ui/plugins): support dynamic loading of ui plug-in scripts (#774)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  server/common/conf.go
  ui/artalk/src/artalk.ts
  ui/artalk/src/load.ts
  ui/artalk/src/plugins/conf-remoter.ts
  ui/artalk/src/plugins/index.ts
  ui/artalk/src/types/config.ts
  ui/artalk/src/types/event.ts
  ui/artalk/src/types/window.d.ts
  ui/artalk/tests/ui-api.test.ts
Due: trigger-app, trigger-ui

refactor(dao): validate the args of the `FindCreateUser` function
  README.md
  internal/artransfer/importer.go
  internal/dao/query_find_create.go
  internal/dao/query_find_create_test.go
  internal/dao/query_new.go
  server/handler/comment_create.go
  server/handler/comment_update.go
  server/handler/vote.go
Due: trigger-app

feat(app): add `onConfUpdated` hook
  internal/core/base.go
  internal/core/event.go
  ui/artalk-sidebar/src/lib/settings-option.ts
Due: trigger-app, trigger-ui

feat(comment): add `is_verified` field for comment entity
  conf/artalk.example.yml
  internal/dao/cook.go
  internal/entity/comment.go
  internal/entity/comment_cooked.go
  ui/artalk/src/api/v2.ts
  ui/artalk/src/comment/renders/header.ts
  ui/artalk/src/i18n/en.ts
  ui/artalk/src/i18n/jp.ts
  ui/artalk/src/i18n/zh-CN.ts
  ui/artalk/src/i18n/zh-TW.ts
  ui/artalk/src/style/comment.scss
  ui/artalk/src/style/editor.scss
  ui/artalk/src/types/data.ts
Due: trigger-app, trigger-ui

fix(conf): skip patching IP region conf if disabled
  internal/config/base.go
Due: trigger-app

fix(captcha/image): unable to display image captcha on initial load
  ui/artalk/src/api/handler.ts
  ui/artalk/src/components/checker/index.ts
Due: trigger-ui

fix(sidebar/login): cannot select a name with the same email upon login (#781)
  server/handler/user_login.go
  ui/artalk-sidebar/src/pages/login.vue
Due: trigger-app, trigger-ui

fix(exception): missing `message` field after refactoring exception data structure
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  ui/artalk-sidebar/src/components/PageEditor.vue
  ui/artalk-sidebar/src/components/SiteCreate.vue
  ui/artalk-sidebar/src/components/SiteEditor.vue
  ui/artalk-sidebar/src/pages/users.vue
  ui/artalk/src/api/v2.ts
  ui/artalk/src/plugins/editor/submit.ts
  ui/artalk/src/plugins/editor/upload.ts
  ui/artalk/src/plugins/list/with-editor.ts
Due: trigger-ui

Update cases.md
  docs/docs/guide/cases.md
Due: none

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
