Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

.circleci/config.yml:

# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            (cmd|internal|server|pkg|test|conf)/.*  trigger-app true
            main.go|go.mod|go.sum  trigger-app true
            (ui)/.*  trigger-ui  true
          base-revision: master  # git branch name
          config-path: .circleci/conditional_config.yml
          filters:
            branches:
              ignore:
                - gh-pages

doc(config): add info about env variables
  docs/guide/backend/config.md
Due: none

doc(extras): add deploy guide for railway.app
  docs/guide/extras.md
Due: none

fix(captcha): image captcha base64 response issue
  server/handler/captcha.go
  server/middleware/limiter/limiter.go
Due: trigger-app

fix(captcha): image captcha base64 response issue (#575)
  server/handler/captcha.go
  server/middleware/limiter/limiter.go
Due: trigger-app

modify
  docs/guide/backend/config.md
Due: none

docs(config): add info about env variables (#566)
  docs/guide/backend/config.md
Due: none

docs(extras): add deploy guide for railway.app (#567)
  docs/guide/extras.md
Due: none

chore(script): move dev config from local to data folder
  .vscode/launch.json
  CONTRIBUTING.md
  scripts/setup-example-site.sh
Due: none

fix(cmd): remove app instance creation when mini boot
  cmd/admin.go
  cmd/base.go
  cmd/config.go
  cmd/export.go
  cmd/gen.go
  cmd/import.go
  cmd/server.go
  cmd/upgrade.go
  cmd/version.go
Due: trigger-app

fix(cmd): remove app instance creation when mini boot (#577)
  cmd/admin.go
  cmd/base.go
  cmd/config.go
  cmd/export.go
  cmd/gen.go
  cmd/import.go
  cmd/server.go
  cmd/upgrade.go
  cmd/version.go
Due: trigger-app

perf(style): modify `z-index` less than 5
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
Due: trigger-ui

perf(style): modify `z-index` less than 5 (#578)
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
Due: trigger-ui

chore: relicense from LGPLv3 to MIT
  LICENSE
  README.en.md
  README.md
  docs/guide/intro.md
  server/server.go
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/README.md
  ui/packages/artalk/package.json
  ui/packages/plugin-katex/package.json
  ui/packages/plugin-lightbox/package.json
Due: trigger-app, trigger-ui

refactor(email_renderer): abstract function of template renderer for multi-cases
  internal/core/service_email.go
  internal/core/service_notify.go
  internal/email/render.go
  internal/email/render_utils.go
  internal/email/renderer/email_tpl/default.html
  internal/email/renderer/notify_tpl/default.html
  internal/email/renderer/render.go
  internal/email/renderer/strategy_email.go
  internal/email/renderer/strategy_notify.go
  internal/email/renderer/template_loader.go
  internal/email/renderer/template_render.go
  internal/email/renderer/template_test.go
  internal/notify_pusher/base.go
  internal/notify_pusher/multi.go
Due: trigger-app

abstract template loader
  conf/artalk.example.simple.yml
  internal/core/service_email.go
  internal/email/renderer/render.go
  internal/email/renderer/template_loader.go
  internal/notify_pusher/multi.go
Due: trigger-app

add render test
  internal/email/renderer/render_test.go
Due: trigger-app

update docs
  docs/guide/backend/email.md
Due: none

chore: move pkg to template
  internal/template/email_tpl/default.html
  internal/template/notify_tpl/default.html
  internal/template/render.go
  internal/template/render_test.go
  internal/template/strategy_email.go
  internal/template/strategy_notify.go
  internal/template/template_loader.go
  internal/template/template_render.go
  internal/template/template_test.go
Due: trigger-app

abstract template pkg
  internal/core/service_email.go
  internal/notify_pusher/multi.go
  internal/template/render.go
  internal/template/render_test.go
  internal/template/strategy_email.go
  internal/template/strategy_notify.go
  internal/template/template_loader.go
  internal/template/template_render.go
  internal/template/template_test.go
Due: trigger-app

refactor(renderer): abstract func of template renderer for multi-cases (#585)
  conf/artalk.example.simple.yml
  docs/guide/backend/email.md
  internal/core/service_email.go
  internal/core/service_notify.go
  internal/email/render.go
  internal/email/render_utils.go
  internal/notify_pusher/base.go
  internal/notify_pusher/multi.go
  internal/template/email_tpl/default.html
  internal/template/notify_tpl/default.html
  internal/template/render.go
  internal/template/render_test.go
  internal/template/strategy_email.go
  internal/template/strategy_notify.go
  internal/template/template_loader.go
  internal/template/template_render.go
  internal/template/template_test.go
Due: trigger-app

fix(notify_tpl): fix template render result in notify case
  docs/guide/backend/email.md
Due: none

perf(config): add error message for timezone setting
  internal/core/base.go
Due: trigger-app

update
  internal/core/base.go
Due: trigger-app

perf(config): add error message for timezone setting (#586)
  internal/core/base.go
Due: trigger-app

chore: remove page accessible_url field in database storage
  internal/entity/page.go
Due: trigger-app

feat(config): add `db.ssl` to enable db ssl mode
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/config/config.go
  internal/db/dsn.go
  internal/db/dsn_test.go
Due: trigger-app

update artalk.example.simple.yml
  conf/artalk.example.simple.yml
Due: trigger-app

add docs
  docs/guide/backend/config.md
Due: none

modify conf
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
Due: trigger-app

feat(config): add `db.ssl` to enable db ssl mode (#587)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/config.md
  internal/config/config.go
  internal/db/dsn.go
  internal/db/dsn_test.go
Due: trigger-app

chore(deps): upgrade go app deps
  go.mod
  go.sum
Due: trigger-app

refactor(anti_spam): refactor anti_spam pkg and add unit test
  internal/anti_spam/base.go
  internal/anti_spam/base_test.go
  internal/anti_spam/checker.go
  internal/anti_spam/keywords.go
  internal/anti_spam/keywords_test.go
  internal/anti_spam/operate.go
  internal/core/service_anti_spam.go
  server/handler/comment_add.go
Due: trigger-app

add more test
  internal/anti_spam/base.go
  internal/anti_spam/base_test.go
Due: trigger-app

refactor(anti_spam): refactor anti_spam pkg and add unit test (#589)
  internal/anti_spam/base.go
  internal/anti_spam/base_test.go
  internal/anti_spam/checker.go
  internal/anti_spam/keywords.go
  internal/anti_spam/keywords_test.go
  internal/anti_spam/operate.go
  internal/core/service_anti_spam.go
  server/handler/comment_add.go
Due: trigger-app

test(email): add unit test for queue
  internal/email/queue.go
  internal/email/queue_test.go
  internal/email/sender.go
Due: trigger-app

test(image_captcha): add unit test
  internal/captcha/image_captcha/image_captcha_test.go
Due: trigger-app

test(simple_cache): add unit test
  internal/cache/simple_cache/cache_test.go
Due: trigger-app

fix(editor): fix duplicate event binding when update
  ui/packages/artalk/src/editor/edit-mode.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/funcs.ts
  ui/packages/artalk/src/editor/plug-manager.ts
Due: trigger-ui
