Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

feat(i18n): link FE and BE locale conf
  internal/core/conf_tpl.go
  internal/core/gen.go
  server/common/conf.go
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk-sidebar/src/main.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-app, trigger-ui

docs: add `Project Structure` section to `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

chore(deps): upgrade vitepress for docs
  .gitignore
  docs/.vitepress/config.ts
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor(CI): build and publish workflows
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docker.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
Due: none

fix(docs): version in cdn link output issue
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Artalk.vue
  docs/code/ArtalkCDN.json
  docs/code/ArtalkVersion.json
  docs/guide/deploy.md
Due: none

refactor(CI): improve build and release workflows (#358)
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docker.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Artalk.vue
  docs/code/ArtalkCDN.json
  docs/code/ArtalkVersion.json
  docs/guide/deploy.md
Due: none

chore(docs): fix vitepress build issue
  docs/guide/backend/index.md
  docs/guide/backend/install.md
  docs/guide/frontend/index.md
  docs/guide/frontend/install.md
  docs/guide/intro.md
  docs/images/artalk/artalk-cache.png
Due: none

chore(docs): improve docs-cn ci workflow
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
Due: none

docs: add open api generation support
  .gitignore
  README.en.md
  README.md
  docs/.gitignore
  docs/develop/api-old.md
  docs/develop/api.md
  docs/develop/event.md
  docs/develop/index.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/redocly.yaml
Due: none

fix: sidebar navigation sorting
  ui/packages/artalk-sidebar/src/pages/comments.vue
Due: trigger-ui

fix: sidebar navigation sorting (#361)
  ui/packages/artalk-sidebar/src/pages/comments.vue
Due: trigger-ui

docs: fix broken links
  docs/guide/frontend/config.md
Due: none

docs: fix broken links (#364)
  docs/guide/frontend/config.md
Due: none

Update fe-control.md
  docs/guide/backend/fe-control.md
Due: none

docs: fix wrong config value (#371)
  docs/guide/backend/fe-control.md
Due: none

chore(conf): update example config file
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/core/core.go
  internal/i18n/i18n.go
Due: trigger-app

fix(email): email queue initialization issue
  internal/config/config.go
  internal/email/queue.go
  internal/notify_launcher/init.go
Due: trigger-app

fix(email): email queue initialization issue (#374)
  internal/config/config.go
  internal/email/queue.go
  internal/notify_launcher/init.go
Due: trigger-app

fix(email): duplicate sending with multiple admins using same email addrs
  internal/notify_launcher/notify_launcher.go
Due: trigger-app

fix(email): duplicate sending with multiple admins using same email addrs (#375)
  internal/notify_launcher/notify_launcher.go
Due: trigger-app

docs: fix content and update index
  CHANGELOG.md
  docs/.vitepress/config.ts
  docs/README.md
  docs/develop/api-old.md
  docs/guide/about.md
  docs/guide/backend/admin_notify.md
  docs/guide/backend/build.md
  docs/guide/backend/captcha.md
  docs/guide/backend/config.md
  docs/guide/backend/docker.md
  docs/guide/backend/email.md
  docs/guide/backend/fe-control.md
  docs/guide/backend/img-upload.md
  docs/guide/backend/moderator.md
  docs/guide/backend/multi-site.md
  docs/guide/backend/update.md
  docs/guide/cases.md
  docs/guide/deploy.md
  docs/guide/frontend/config.md
  docs/guide/frontend/emoticons.md
  docs/guide/frontend/i18n.md
  docs/guide/frontend/plugs.md
  docs/guide/frontend/sidebar.md
  docs/guide/intro.md
  docs/index.md
Due: none

chore(docs): add i18n support
  docs/.vitepress/config.ts
  docs/en/index.md
Due: none

chore(docs): add i18n support
  docs/.vitepress/config.ts
  docs/en/index.md
  go.mod
  go.sum
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/pnpm-lock.yaml
Due: trigger-app, trigger-ui

chore(deps): upgrade go deps
  go.mod
  go.sum
  internal/cache/cache.go
Due: trigger-app

chore(i18n): fix comment list counter with i18n
  ui/packages/artalk/src/list/list.ts
Due: trigger-ui

chore(deps): upgrade frontend deps
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

fix(sidebar): array type config option cannot be shown
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  ui/packages/artalk-sidebar/src/components/PreferenceArr.vue
Due: trigger-app, trigger-ui

chore(deps): upgrade frontend deps
  docs/package.json
  docs/pnpm-lock.yaml
  ui/packages/artalk-sidebar/auto-imports.d.ts
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk-sidebar/typed-router.d.ts
  ui/packages/artalk/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

chore: replace deprecated `io/ioutil` with new
  internal/anti_spam/anti_spam.go
  internal/anti_spam/anti_spam_akismet.go
  internal/artransfer/importer.go
  internal/captcha/geetest.go
  internal/core/core.go
  internal/core/gen.go
  ui/packages/artalk/index.html
Due: trigger-app, trigger-ui

fix(email): failback to `email.mail_tpl` if `admin_notify.email.mail_tpl` is empty
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/admin_notify.md
  internal/email/render.go
Due: trigger-app

chore(docs): revise some docs
  .github/workflows/docs-cn.yml
  README.md
  docs/guide/backend/build.md
Due: none

chore(docs): add FUNDING.yml
  .github/FUNDING.yml
Due: none

Update import-blog.md
  docs/guide/frontend/import-blog.md
Due: none

chore(deps): update dependencies
  docs/package.json
  docs/pnpm-lock.yaml
  ui/package.json
  ui/packages/artalk-sidebar/auto-imports.d.ts
  ui/packages/artalk-sidebar/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

fix: 为 docker 容器指定 restart=always 使得容器可以自动重启
  docs/guide/deploy.md
Due: none

refactor: provide API to handle artalk lifecycle
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/layer/index.ts
  ui/packages/artalk/src/layer/layer.ts
  ui/packages/artalk/src/lib/marked.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/artalk-data.d.ts
  ui/packages/artalk/types/context.d.ts
  ui/packages/artalk/types/global.d.ts
  ui/packages/plugin-katex/main.ts
  ui/packages/plugin-katex/package.json
Due: trigger-ui

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
