Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

fix(ui/dark-mode): `setDarkMode` cannot save to instance config (#661)
  ui/packages/artalk/src/components/dark-mode.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
  ui/packages/artalk/types/event.ts
Due: trigger-ui

refactor(ui/layer): better layer implements and independence
  ui/packages/artalk/src/components/checker/index.ts
  ui/packages/artalk/src/layer/index.ts
  ui/packages/artalk/src/layer/layer-manager.ts
  ui/packages/artalk/src/layer/layer.ts
  ui/packages/artalk/src/layer/scrollbar-helper.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/layer/wrap.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

refactor(ui/layer): better layer implements and independence (#662)
  ui/packages/artalk/src/components/checker/index.ts
  ui/packages/artalk/src/layer/index.ts
  ui/packages/artalk/src/layer/layer-manager.ts
  ui/packages/artalk/src/layer/layer.ts
  ui/packages/artalk/src/layer/scrollbar-helper.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/layer/wrap.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

fix(lifecycle): create multi-instances at the same time (#660)
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
Due: trigger-ui

fix(lifecycle): create multi-instances at the same time (#660) (#663)
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
Due: trigger-ui

fix(api/img-upload): `public_path` config enables the use of full url (#659)
  server/handler/img_upload.go
Due: trigger-app

fix(api/img-upload): `public_path` config enables the use of full url (#659) (#664)
  server/handler/img_upload.go
Due: trigger-app

docs(import): update the examples in import-framework.md
  docs/guide/frontend/import-blog.md
  docs/guide/frontend/import-framework.md
Due: none

docs(import): update the examples in import-framework.md (#665)
  docs/guide/frontend/import-blog.md
  docs/guide/frontend/import-framework.md
Due: none

chore(docs): more description for VitePress example
  docs/.vitepress/theme/Artalk.vue
  docs/guide/frontend/import-blog.md
Due: none

perf(cache): implement GC feature for simple_cache pkg (#656)
  internal/cache/simple_cache/cache.go
  internal/cache/simple_cache/cache_test.go
Due: trigger-app

docs: revise and add more examples
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Artalk.vue
  docs/develop/event.md
  docs/develop/fe-api.md
  docs/develop/index.md
  docs/develop/plugs.md
  docs/guide/backend/admin_notify.md
  docs/guide/backend/config.md
  docs/guide/backend/daemon.md
  docs/guide/backend/data.md
  docs/guide/backend/docker.md
  docs/guide/backend/email.md
  docs/guide/backend/fe-control.md
  docs/guide/backend/img-upload.md
  docs/guide/backend/moderator.md
  docs/guide/backend/multi-site.md
  docs/guide/backend/reverse-proxy.md
  docs/guide/backend/update.md
  docs/guide/deploy.md
  docs/guide/frontend/config.md
  docs/guide/frontend/emoticons.md
  docs/guide/frontend/import-blog.md
  docs/guide/frontend/import-framework.md
  docs/guide/frontend/index.md
  docs/guide/frontend/pv.md
  docs/guide/frontend/sidebar.md
  docs/guide/intro.md
  docs/guide/security.md
  docs/guide/transfer.md
  test/vue-test/src/components/Artalk.vue
  ui/packages/artalk/src/artalk.ts
Due: trigger-app, trigger-ui

chore(docs): bump Artalk to v2.7.0
  docs/package.json
  docs/pnpm-lock.yaml
  test/vue-test/src/components/Artalk.vue
Due: trigger-app

fix(cout-widget): `loadCountWidget` issue
  ui/packages/artalk/index.html
  ui/packages/artalk/src/plugins/stat.ts
  ui/packages/artalk/tests/html/ArtalkCount.html
  ui/packages/artalk/tests/html/ArtalkI18n.html
  ui/packages/artalk/tests/html/ArtalkLite.html
Due: trigger-ui

fix(ui): fix static method export issue in JS module
  docs/develop/fe-api.md
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/main.ts
  ui/packages/artalk/vite.config.ts
Due: trigger-ui

fix(ui): static method export issue in JS module (#669)
  docs/develop/fe-api.md
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/main.ts
  ui/packages/artalk/vite.config.ts
Due: trigger-ui

fix(build): generate source maps to ease debugging
  ui/packages/artalk/vite.config.ts
Due: trigger-ui

docs(i18n): add translation of update notice
  ui/packages/artalk/src/i18n/en.ts
  ui/packages/artalk/src/i18n/jp.ts
  ui/packages/artalk/src/i18n/zh-CN.ts
  ui/packages/artalk/src/i18n/zh-TW.ts
  ui/packages/artalk/src/plugins/version-check.ts
Due: trigger-ui

chore: update description
  README.en.md
  cmd/base.go
  docs/en/index.md
  docs/index.md
  docs/landing/src/components/Slogan.tsx
  ui/packages/artalk/README.md
  ui/packages/artalk/package.json
Due: trigger-app, trigger-ui

chore: fix typos
  ui/packages/plugin-katex/main.ts
Due: trigger-ui

chore: tweaks
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/list/layout.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/list/page.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/plugins/editor/header-user.ts
  ui/packages/artalk/src/plugins/editor/state-edit.ts
  ui/packages/artalk/src/plugins/editor/upload.ts
  ui/packages/artalk/src/plugins/list/fetch.ts
  ui/packages/artalk/src/plugins/list/reach-bottom.ts
  ui/packages/artalk/types/context.ts
Due: trigger-ui

chore: bump deps
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/package.json
  ui/packages/plugin-katex/package.json
  ui/packages/plugin-lightbox/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

chore: update readme
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.en.md
  README.md
Due: none

chore: add exports field
  ui/packages/artalk/package.json
Due: trigger-ui

refactor(ui/user): user class no longer globally singleton
  ui/packages/artalk/src/components/checker/admin.ts
  ui/packages/artalk/src/components/checker/index.ts
  ui/packages/artalk/src/components/error-dialog.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/plugins/conf-remoter.ts
  ui/packages/artalk/src/plugins/editor/_kit.ts
  ui/packages/artalk/src/plugins/editor/closable.ts
  ui/packages/artalk/src/plugins/editor/emoticons.ts
  ui/packages/artalk/src/plugins/editor/header-link.ts
  ui/packages/artalk/src/plugins/editor/header-user.ts
  ui/packages/artalk/src/plugins/editor/state-edit.ts
  ui/packages/artalk/src/plugins/editor/submit-add.ts
  ui/packages/artalk/src/plugins/editor/upload.ts
  ui/packages/artalk/src/plugins/list/sidebar-btn.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

chore: remove src folder
  ui/packages/artalk/.npmignore
  ui/packages/artalk/package.json
Due: trigger-ui

refactor(ui/api): losing coupling between `Api` and `User`
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk/src/api/_base.ts
  ui/packages/artalk/src/api/_options.ts
  ui/packages/artalk/src/api/_request.ts
  ui/packages/artalk/src/api/comment.ts
  ui/packages/artalk/src/api/upload.ts
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/lib/user.ts
  ui/packages/artalk/types/event.ts
Due: trigger-ui

refactor(ui): move window references into function scope (#675)
  ui/packages/artalk/src/lib/detect.ts
Due: trigger-ui

test(ssg): add SSG test case (#675)
  test/ssg-test/.gitignore
  test/ssg-test/.vitepress/config.mts
  test/ssg-test/.vitepress/theme/Artalk.vue
  test/ssg-test/.vitepress/theme/Footer.vue
  test/ssg-test/.vitepress/theme/Layout.vue
  test/ssg-test/.vitepress/theme/index.ts
  test/ssg-test/.vitepress/theme/style.css
  test/ssg-test/api-examples.md
  test/ssg-test/index.md
  test/ssg-test/markdown-examples.md
  test/ssg-test/package.json
  test/ssg-test/pnpm-lock.yaml
Due: trigger-app

fix(ui/dark-mode): potential memory leak issue in auto mode
  ui/packages/artalk/src/components/dark-mode.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
Due: trigger-ui

fix(ui/dark-mode): potential memory leak issue in auto mode (#688)
  ui/packages/artalk/src/components/dark-mode.ts
  ui/packages/artalk/src/plugins/dark-mode.ts
Due: trigger-ui

feat: patch `locale` config from `zh-cn` to `zh-CN` (#678)
  internal/config/base.go
  internal/config/base_test.go
Due: trigger-app

fix: vite cjs deprecated warning
  ui/packages/artalk/package.json
  ui/packages/artalk/postcss.config.js
Due: trigger-ui

chore: fix case
  cmd/base.go
  docs/en/index.md
  docs/index.md
  docs/landing/src/components/Slogan.tsx
  ui/packages/artalk/README.md
  ui/packages/artalk/package.json
  ui/packages/artalk/src/artalk.ts
Due: trigger-app, trigger-ui

chore: update description and fix typos (#684)
  README.en.md
  cmd/base.go
  docs/en/index.md
  docs/index.md
  docs/landing/src/components/Slogan.tsx
  ui/packages/artalk/README.md
  ui/packages/artalk/package.json
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/list/layout.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/list/page.ts
  ui/packages/artalk/src/plugins/admin-only-elem.ts
  ui/packages/artalk/src/plugins/editor/header-user.ts
  ui/packages/artalk/src/plugins/editor/state-edit.ts
  ui/packages/artalk/src/plugins/editor/upload.ts
  ui/packages/artalk/src/plugins/list/fetch.ts
  ui/packages/artalk/src/plugins/list/reach-bottom.ts
  ui/packages/artalk/types/context.ts
  ui/packages/plugin-katex/main.ts
Due: trigger-app, trigger-ui

test(ci): migrate UI tests back to Github Actions
  .circleci/conditional_config.yml
  .circleci/config.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
  .github/workflows/test-frontend.yml
  Dockerfile
  scripts/build-frontend.sh
Due: none

test(ci): migrate UI tests back to Github Actions (#692)
  .circleci/conditional_config.yml
  .circleci/config.yml
  .github/workflows/build-frontend.yml
  .github/workflows/docs-cn.yml
  .github/workflows/test-frontend.yml
  Dockerfile
  scripts/build-frontend.sh
Due: none

chore(docs): update README.md (#691)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.en.md
  README.md
Due: none

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
