Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

feat: more functions to handle artalk lifecycle (#426)
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/config.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/layer/index.ts
  ui/packages/artalk/src/layer/layer.ts
  ui/packages/artalk/src/lib/marked.ts
  ui/packages/artalk/src/lib/utils.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/artalk-data.d.ts
  ui/packages/artalk/types/context.d.ts
  ui/packages/artalk/types/global.d.ts
  ui/packages/plugin-katex/main.ts
  ui/packages/plugin-katex/package.json
Due: trigger-ui

Update deploy.md
  docs/guide/deploy.md
Due: none

docs(deploy): add `restart=always` for docker to auto restart (#425)
  docs/guide/deploy.md
Due: none

refactor(comment): seperate comment ui renders from single file
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render-ctx.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/comment/renders/actions.ts
  ui/packages/artalk/src/comment/renders/avatar.ts
  ui/packages/artalk/src/comment/renders/content.ts
  ui/packages/artalk/src/comment/renders/header.ts
  ui/packages/artalk/src/comment/renders/index.ts
  ui/packages/artalk/src/comment/renders/pending.ts
  ui/packages/artalk/src/comment/renders/reply-at.ts
  ui/packages/artalk/src/comment/renders/reply-to.ts
Due: trigger-ui

refactor(comment): seperate comment ui renders from single file (#427)
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render-ctx.ts
  ui/packages/artalk/src/comment/render.ts
  ui/packages/artalk/src/comment/renders/actions.ts
  ui/packages/artalk/src/comment/renders/avatar.ts
  ui/packages/artalk/src/comment/renders/content.ts
  ui/packages/artalk/src/comment/renders/header.ts
  ui/packages/artalk/src/comment/renders/index.ts
  ui/packages/artalk/src/comment/renders/pending.ts
  ui/packages/artalk/src/comment/renders/reply-at.ts
  ui/packages/artalk/src/comment/renders/reply-to.ts
Due: trigger-ui

refactor(ui/checker): simplify checker lifecycle function param table
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/captcha-renders.ts
  ui/packages/artalk/src/lib/checker/captcha.ts
  ui/packages/artalk/src/lib/checker/index.ts
Due: trigger-ui

chore(ui): rename checker file name
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/captcha.ts
Due: trigger-ui

refactor(ui/checker): simplify checker lifecycle function param table (#428)
  ui/packages/artalk/src/lib/checker/admin-checker.ts
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/captcha-checker.ts
  ui/packages/artalk/src/lib/checker/captcha-renders.ts
  ui/packages/artalk/src/lib/checker/captcha.ts
  ui/packages/artalk/src/lib/checker/index.ts
Due: trigger-ui

refactor(ui): automatic dependency injection
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.d.ts
Due: trigger-ui

feat: provide `inject` function allows to inject dep
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/types/context.d.ts
Due: trigger-ui

refactor(ui): automatic dependency injection (#429)
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.d.ts
Due: trigger-ui

refactor(ui/dark-mode): separate dark mode logic into its own module
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/query/testdata/example_site_conf.yml
  ui/packages/artalk-sidebar/src/assets/artalk.example.yml
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/lib/dark-mode.ts
  ui/packages/artalk/src/service.ts
Due: trigger-app, trigger-ui

refactor(ui/dark-mode): separate dark mode logic into its own module (#430)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/query/testdata/example_site_conf.yml
  ui/packages/artalk-sidebar/src/assets/artalk.example.yml
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/lib/dark-mode.ts
  ui/packages/artalk/src/service.ts
Due: trigger-app, trigger-ui

refactor(ui/i18n): improve i18n function to standalone module
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/i18n/index.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

refactor(ui/i18n): improve i18n function to standalone module (#434)
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/i18n/index.ts
  ui/packages/artalk/src/service.ts
Due: trigger-ui

refactor(ui/height-limit): modify height limit function to standalone module
  ui/.eslintrc.js
  ui/packages/artalk/src/comment/height-limit.ts
  ui/packages/artalk/src/comment/render.ts
Due: trigger-ui

refactor(ui/height-limit): modify height limit function to standalone module (#435)
  ui/.eslintrc.js
  ui/packages/artalk/src/comment/height-limit.ts
  ui/packages/artalk/src/comment/render.ts
Due: trigger-ui

添加介绍文章
  docs/guide/extras.md
Due: none

docs(extras): add deploy guide for vuepress (#436)
  docs/guide/extras.md
Due: none

refactor(ui/list): modify list pagination to standalone module
  server/handler/comment_get_query.go
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/list/list-lite.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/paginator/adaptors/index.ts
  ui/packages/artalk/src/list/paginator/adaptors/pagination.ts
  ui/packages/artalk/src/list/paginator/adaptors/read-more.ts
  ui/packages/artalk/src/list/paginator/holder.ts
  ui/packages/artalk/src/list/paginator/index.ts
Due: trigger-app, trigger-ui

refactor(ui/list): modify list pagination to standalone module (#437)
  server/handler/comment_get_query.go
  ui/packages/artalk-sidebar/src/components/PreferenceGrp.vue
  ui/packages/artalk-sidebar/src/pages/comments.vue
  ui/packages/artalk/src/list/list-lite.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/paginator/adaptors/index.ts
  ui/packages/artalk/src/list/paginator/adaptors/pagination.ts
  ui/packages/artalk/src/list/paginator/adaptors/read-more.ts
  ui/packages/artalk/src/list/paginator/holder.ts
  ui/packages/artalk/src/list/paginator/index.ts
Due: trigger-app, trigger-ui

refactor(anti_spam/qcloud-tms): implement qcloud tms api without sdk
  go.mod
  go.sum
  internal/anti_spam/anti_spam_tencent.go
  internal/cloud/qcloud/api.go
  internal/cloud/qcloud/tms.go
Due: trigger-app

refactor(anti_spam/qcloud-tms): implement qcloud tms api without sdk (#438)
  go.mod
  go.sum
  internal/anti_spam/anti_spam_tencent.go
  internal/cloud/qcloud/api.go
  internal/cloud/qcloud/tms.go
Due: trigger-app

chore(deps/docs): upgrade deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

chore(deps/go): upgrade deps
  go.mod
  go.sum
Due: trigger-app

chore: rename all less files to scss
  ui/packages/artalk/src/editor/plugs/emoticons-plug.scss
  ui/packages/artalk/src/editor/plugs/preview-plug.scss
  ui/packages/artalk/src/style/_color.scss
  ui/packages/artalk/src/style/_extend.scss
  ui/packages/artalk/src/style/_variables.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
  ui/packages/artalk/src/style/pagination.scss
  ui/packages/artalk/src/style/sidebar-layer.scss
Due: trigger-ui

refactor(style): convert to use Sass as a style interpreter
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/editor/plugs/emoticons-plug.scss
  ui/packages/artalk/src/editor/plugs/emoticons-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.scss
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/style/_extend.scss
  ui/packages/artalk/src/style/_variables.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
  ui/packages/artalk/src/style/sidebar-layer.scss
  ui/packages/artalk/vite-base.config.ts
  ui/pnpm-lock.yaml
Due: trigger-ui

refactor(style): convert to use Sass as a style interpreter (#439)
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/editor/plugs/emoticons-plug.scss
  ui/packages/artalk/src/editor/plugs/emoticons-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.scss
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/style/_color.scss
  ui/packages/artalk/src/style/_extend.scss
  ui/packages/artalk/src/style/_variables.less
  ui/packages/artalk/src/style/_variables.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
  ui/packages/artalk/src/style/pagination.scss
  ui/packages/artalk/src/style/sidebar-layer.scss
  ui/packages/artalk/vite-base.config.ts
  ui/pnpm-lock.yaml
Due: trigger-ui

fix(lint): add tsc check before vite compile
  ui/package.json
  ui/packages/artalk/package.json
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/vite-base.config.ts
  ui/pnpm-lock.yaml
  ui/tsconfig.base.json
Due: trigger-ui

fix(lint): add tsc check before vite compile (#440)
  ui/package.json
  ui/packages/artalk/package.json
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/vite-base.config.ts
  ui/pnpm-lock.yaml
  ui/tsconfig.base.json
Due: trigger-ui

refactor(ui/editor): modify editor ui to standalone module
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render-ctx.ts
  ui/packages/artalk/src/editor/editor-ui.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/plugs/header-input-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/editor/plugs/upload-plug.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/list/paginator/adaptors/index.ts
  ui/packages/artalk/src/list/paginator/adaptors/pagination.ts
  ui/packages/artalk/src/list/paginator/adaptors/read-more.ts
  ui/packages/artalk/src/list/paginator/holder.ts
Due: trigger-ui

refactor(ui/editor): modify editor ui to standalone module (#441)
  ui/packages/artalk/src/comment/comment.ts
  ui/packages/artalk/src/comment/render-ctx.ts
  ui/packages/artalk/src/editor/editor-ui.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/plugs/header-input-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/editor/plugs/upload-plug.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/list/paginator/adaptors/index.ts
  ui/packages/artalk/src/list/paginator/adaptors/pagination.ts
  ui/packages/artalk/src/list/paginator/adaptors/read-more.ts
  ui/packages/artalk/src/list/paginator/holder.ts
Due: trigger-ui

chore(build): fix dts compile issue
  ui/packages/artalk/vite-base.config.ts
Due: trigger-ui

refactor(page/fetch): remove goquery dependency when extracting page data
  go.mod
  go.sum
  internal/query/service.go
  internal/query/service_test.go
Due: trigger-app

refactor(page/fetch): remove goquery dependency when extracting page data (#442)
  go.mod
  go.sum
  internal/query/service.go
  internal/query/service_test.go
Due: trigger-app

refactor(ui/editor): change functions of editor to standalone modules
  internal/artransfer/importer.go
  ui/packages/artalk/src/editor/edit-mode.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/funcs.ts
  ui/packages/artalk/src/editor/mover.ts
  ui/packages/artalk/src/editor/plug-manager.ts
  ui/packages/artalk/src/editor/plugs/editor-plug.ts
  ui/packages/artalk/src/editor/plugs/emoticons-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/editor/reply.ts
  ui/packages/artalk/src/editor/submit.ts
  ui/packages/artalk/src/editor/ui.ts
Due: trigger-app, trigger-ui

refactor(ui/editor): change functions of editor to standalone modules (#443)
  internal/artransfer/importer.go
  ui/packages/artalk/src/editor/edit-mode.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/funcs.ts
  ui/packages/artalk/src/editor/mover.ts
  ui/packages/artalk/src/editor/plug-manager.ts
  ui/packages/artalk/src/editor/plugs/editor-plug.ts
  ui/packages/artalk/src/editor/plugs/emoticons-plug.ts
  ui/packages/artalk/src/editor/plugs/preview-plug.ts
  ui/packages/artalk/src/editor/reply.ts
  ui/packages/artalk/src/editor/submit.ts
  ui/packages/artalk/src/editor/ui.ts
Due: trigger-app, trigger-ui

feat: upgrade go to v1.20.1
  .circleci/conditional_config.yml
  .github/workflows/build-app.yml
  CONTRIBUTING.md
  Dockerfile
  go.mod
Due: trigger-app

perf(conf/i18n): detect and change locale when config file contains chinese
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  internal/core/core.go
Due: trigger-app

fix(ui): hash goto function check condition issue
  ui/packages/artalk/src/context.ts
Due: trigger-ui

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
