Repository ArtalkJS/Artalk: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-app, trigger-ui

refactor(captcha): abstract captcha service
  internal/captcha/captcha.go
  internal/captcha/geetest.go
  internal/captcha/pages/geetest.html
  internal/captcha/pages/turnstile.html
  internal/captcha/turnstile.go
  internal/config/config.go
  internal/config/init.go
  server/handler/captcha.go
  server/middleware/limit.go
Due: trigger-app

refactor(captcha): abstract captcha service (#455)
  internal/captcha/captcha.go
  internal/captcha/geetest.go
  internal/captcha/pages/geetest.html
  internal/captcha/pages/turnstile.html
  internal/captcha/turnstile.go
  internal/config/config.go
  internal/config/init.go
  server/handler/captcha.go
  server/middleware/limit.go
Due: trigger-app

fix(ui/sidebar): setting item save follow type of template
  ui/packages/artalk-sidebar/src/components/PreferenceItem.vue
Due: trigger-ui

feat(captcha): add support for reCAPTCHA and hCaptcha
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/captcha.md
  internal/captcha/captcha.go
  internal/captcha/hcaptcha.go
  internal/captcha/pages/geetest.html
  internal/captcha/pages/hcaptcha.html
  internal/captcha/pages/recaptcha.html
  internal/captcha/pages/turnstile.html
  internal/captcha/recaptcha.go
  internal/config/config.go
Due: trigger-app

refine docs
  docs/guide/backend/captcha.md
Due: none

feat(captcha): add support for reCAPTCHA and hCaptcha (#456)
  conf/artalk.example.simple.yml
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/captcha.md
  internal/captcha/captcha.go
  internal/captcha/hcaptcha.go
  internal/captcha/pages/geetest.html
  internal/captcha/pages/hcaptcha.html
  internal/captcha/pages/recaptcha.html
  internal/captcha/pages/turnstile.html
  internal/captcha/recaptcha.go
  internal/config/config.go
Due: trigger-app

fix(ui/i18n): subscribe event priority issue
  conf/artalk.example.yml
  conf/artalk.example.zh-CN.yml
  ui/packages/artalk/src/service.ts
Due: trigger-app, trigger-ui

style: improve some styles
  cmd/admin.go
  conf/artalk.example.zh-CN.yml
  docs/guide/backend/multi-site.md
  internal/query/testdata/example_site_conf.yml
  ui/packages/artalk-sidebar/src/pages/pages.vue
  ui/packages/artalk-sidebar/src/pages/users.vue
  ui/packages/artalk/src/editor/plugs/emoticons-plug.scss
  ui/packages/artalk/src/style/_color.scss
  ui/packages/artalk/src/style/comment.scss
  ui/packages/artalk/src/style/editor.scss
  ui/packages/artalk/src/style/list.scss
  ui/packages/artalk/src/style/main.scss
Due: trigger-app, trigger-ui

feat(ui): add some static methods
  README.en.md
  README.md
  docs/.vitepress/theme/Artalk.vue
  docs/code/quick-start/cdn.html
  scripts/setup-example-site.sh
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk/index.html
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/lib/dark-mode.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/test/ArtalkI18n.html
  ui/packages/artalk/test/ArtalkLite.html
  ui/packages/artalk/types/artalk-config.d.ts
  ui/packages/artalk/types/context.d.ts
  ui/packages/plugin-katex/index.html
  ui/packages/plugin-lightbox/index.html
Due: trigger-ui

docs: refine and add frontend api docs
  docs/.vitepress/config.ts
  docs/develop/event.md
  docs/develop/fe-api.md
  docs/develop/index.md
  docs/develop/plugs.md
  docs/guide/backend/config.md
  docs/guide/backend/docker.md
  docs/guide/backend/fe-control.md
  docs/guide/backend/img-upload.md
  docs/guide/backend/relative-path.md
  docs/guide/backend/reverse-proxy.md
  docs/guide/deploy.md
  docs/guide/frontend/config.md
  docs/guide/frontend/emoticons.md
  docs/guide/frontend/i18n.md
  docs/guide/frontend/import-blog.md
  docs/guide/frontend/import-framework.md
  docs/guide/frontend/pv.md
  docs/guide/intro.md
Due: none

chore(docs): fix docs dead link
  docs/develop/fe-api.md
Due: none

fix: destroy method remove root element
  ui/packages/artalk/src/artalk.ts
Due: trigger-ui

docs: init artalk with new frontend api
  docs/.vitepress/theme/Artalk.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/global.d.ts
Due: none

feat(i18n): add zh-TW i18n translation for sidebar and app
  i18n/zh-TW.yml
  ui/packages/artalk-sidebar/src/i18n/messages.ts
Due: trigger-ui

fix(ci): frontend and app build
  .github/workflows/build-frontend.yml
  .goreleaser.yml
Due: none

chore(ci): add manually repo dispatch
  .github/workflows/repo-dispatch.yml
Due: none

chore(docs): update artalk latest version in docs
  README.md
  docs/code/ArtalkVersion.json
Due: none

refactor(anti_spam/aliyun): accessing aliyun green text api without sdk
  go.mod
  go.sum
  internal/anti_spam/anti_spam_aliyun.go
  internal/cloud/aliyun/api.go
  internal/cloud/aliyun/green.go
Due: trigger-app

refactor(anti_spam/aliyun): accessing aliyun green text api without sdk (#459)
  go.mod
  go.sum
  internal/anti_spam/anti_spam_aliyun.go
  internal/cloud/aliyun/api.go
  internal/cloud/aliyun/green.go
Due: trigger-app

fix(ui/sort-dropdown): dropdown menu disappears after call reload func
  ui/packages/artalk/index.html
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-ui

fix(ui/sort-dropdown): dropdown menu disappears after call reload func (#461)
  ui/packages/artalk/index.html
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-ui

chore(ci/build): checkout latest tag
  .github/workflows/build-app.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-frontend.yml
Due: none

fix(ui/i18n): duplicate packaging built-in language in the external script
  ui/packages/artalk/scripts/build-i18n.mjs
  ui/packages/artalk/src/i18n/external.ts
  ui/packages/artalk/src/i18n/index.ts
  ui/packages/artalk/src/i18n/jp.ts
  ui/packages/artalk/src/i18n/zh-TW.ts
Due: trigger-ui

chore(chglog): set title_order config
  .chglog/config.yml
  CHANGELOG.md
Due: none

refactor(ui/user): modify user to standalone module
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk-sidebar/src/pages/login.vue
  ui/packages/artalk/src/api/comment.ts
  ui/packages/artalk/src/api/page.ts
  ui/packages/artalk/src/api/request.ts
  ui/packages/artalk/src/api/upload.ts
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/editor/edit-mode.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/funcs.ts
  ui/packages/artalk/src/editor/plugs/header-input-plug.ts
  ui/packages/artalk/src/editor/plugs/upload-plug.ts
  ui/packages/artalk/src/editor/submit.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/index.ts
  ui/packages/artalk/src/lib/user.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.d.ts
Due: trigger-ui

refactor(ui/user): modify user to standalone module (#463)
  ui/packages/artalk-sidebar/src/App.vue
  ui/packages/artalk-sidebar/src/global.ts
  ui/packages/artalk-sidebar/src/pages/login.vue
  ui/packages/artalk/src/api/comment.ts
  ui/packages/artalk/src/api/page.ts
  ui/packages/artalk/src/api/request.ts
  ui/packages/artalk/src/api/upload.ts
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/context.ts
  ui/packages/artalk/src/editor/edit-mode.ts
  ui/packages/artalk/src/editor/editor.ts
  ui/packages/artalk/src/editor/funcs.ts
  ui/packages/artalk/src/editor/plugs/header-input-plug.ts
  ui/packages/artalk/src/editor/plugs/upload-plug.ts
  ui/packages/artalk/src/editor/submit.ts
  ui/packages/artalk/src/layer/sidebar-layer.ts
  ui/packages/artalk/src/lib/checker/admin.ts
  ui/packages/artalk/src/lib/checker/index.ts
  ui/packages/artalk/src/lib/user.ts
  ui/packages/artalk/src/list/list-ui.ts
  ui/packages/artalk/src/list/list.ts
  ui/packages/artalk/src/service.ts
  ui/packages/artalk/types/context.d.ts
Due: trigger-ui

fix(ui/paginator): showErr func call issue
  ui/packages/artalk/src/list/paginator/holder.ts
  ui/packages/artalk/src/style/list.scss
Due: trigger-ui

fix(ui/count-widget): context api undefined issue
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/test/ArtalkCount.html
Due: trigger-ui

fix(ui/count-widget): context api undefined issue (#464)
  ui/packages/artalk/src/artalk.ts
  ui/packages/artalk/test/ArtalkCount.html
Due: trigger-ui

chore(ci): fix release.yml git command
  .github/workflows/release.yml
Due: none

chore(deps): upgrade go app deps
  go.mod
  go.sum
Due: trigger-app

chore(deps): upgrade frontend deps
  docs/package.json
  docs/pnpm-lock.yaml
  ui/package.json
  ui/packages/artalk-sidebar/package.json
  ui/pnpm-lock.yaml
Due: trigger-ui

feat(go): upgrade golang to v1.20.2
  .github/workflows/build-app.yml
  Dockerfile
Due: none

chore(ci): fix git-chglog config
  .chglog/config.yml
  .github/workflows/build-frontend.yml
  CHANGELOG.md
Due: none

chore(typo): fix filename typo
  internal/entity/site_cooked.go
Due: trigger-app

fix(ui): destroy instance when calling init func twice
  ui/packages/artalk/src/artalk.ts
Due: trigger-ui

perf(notify): shorten the length of notify key
  internal/core/gen.go
  internal/entity/notify.go
  internal/query/query_find.go
  server/handler/mark_read.go
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-app, trigger-ui

perf(notify): shorten the length of notify key (#466)
  internal/core/gen.go
  internal/entity/notify.go
  internal/query/query_find.go
  server/handler/mark_read.go
  ui/packages/artalk/src/api/user.ts
  ui/packages/artalk/src/list/list.ts
Due: trigger-app, trigger-ui

perf(style): add `!important` for white-space css in code block
  ui/packages/artalk/src/style/main.scss
Due: trigger-ui

perf(style): add `!important` for white-space css in code block (#467)
  ui/packages/artalk/src/style/main.scss
Due: trigger-ui

Path conditions:
  trigger-app: (any of: (cmd|internal|server|pkg|test|conf)/.*) or (any of: main.go|go.mod|go.sum)
  trigger-ui: any of: (ui)/.*
